Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: ["-i", "-r", "-e", "app/**/migrations/", "-e", "app/app/settings.py", "-p", "app/avatar/", "app/credits/", "app/dataviz/", "app/enssubdomain/", "app/ethos/", "app/github/"]
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Adjust grant admin.py based on model changes and merge migrations
  app/dashboard/migrations/0117_merge_20181127_1301.py
  app/grants/admin.py
Due: yapf

Remove query for created, but not accepted, workers (#2302)
  app/marketing/management/commands/expiration_start_work.py
  app/marketing/tests/management/commands/test_expiration_start_work.py
Due: yapf

grant/cancel : add waiting state
  app/assets/v2/js/grants/cancel_subscription.js
  app/grants/templates/grants/cancel.html
  app/grants/views.py
Due: eslint, yapf

waiting state added for cancel grant - still disabled
  app/assets/v2/js/grants/detail.js
  app/grants/templates/grants/detail.html
Due: eslint

fixed card height
  app/assets/v2/css/grants/card.css
Due: stylelint

newline
  app/marketing/mails.py
Due: yapf

linting errors
  app/grants/models.py
  app/grants/views.py
Due: yapf

linting
  app/grants/views.py
Due: yapf

added stub grants page for non staff users
  app/grants/templates/grants/stub/index.html
  app/grants/templates/grants/stub/nav.html
  app/grants/views.py
Due: yapf

DRY : aplha banner
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/shared/alpha.html
  app/grants/templates/grants/shared/waiting_state.html
Due: none

DRY : waiting state room
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/detail.js
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/new.js
  app/assets/v2/js/grants/shared.js
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/shared/waiting_state.html
Due: eslint

enabled waiting state for cancel grant
  app/assets/v2/js/grants/detail.js
Due: eslint

remove duplicate migrations_merge
  app/dashboard/migrations/0117_merge_20181126_1652.py
Due: yapf

addressing review comments
  app/grants/models.py
  app/grants/templates/grants/detail.html
  app/grants/views.py
Due: yapf

add new modal and backend working
  app/app/urls.py
  app/assets/v2/css/forms/radio.css
  app/assets/v2/js/pages/kill_bounty.js
  app/dashboard/migrations/0118_merge_20181127_0140.py
  app/dashboard/migrations/0119_bounty_canceled_bounty_reason.py
  app/dashboard/models.py
  app/dashboard/router.py
  app/dashboard/templates/bounty/kill.html
  app/dashboard/templates/cancel_bounty_reason.html
  app/dashboard/views.py
Due: eslint, stylelint, yapf

grants update
  app/assets/v2/css/grants/card.css
  app/assets/v2/css/grants/fund.css
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/detail.js
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/new.js
  app/assets/v2/js/grants/shared.js
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/shared/alpha.html
  app/grants/templates/grants/shared/waiting_state.html
  app/grants/templates/grants/stub/index.html
  app/grants/templates/grants/stub/nav.html
  app/grants/views.py
Due: eslint, stylelint, yapf

add inbox app
  app/inbox/__init__.py
  app/inbox/admin.py
  app/inbox/apps.py
  app/inbox/migrations/__init__.py
  app/inbox/models.py
  app/inbox/tests.py
  app/inbox/views.py
Due: yapf

Fix #2746 - Makeup causing issues aswell
  app/avatar/utils.py
Due: yapf

Moving expire time to flyout.
  app/assets/v2/css/base.css
  app/assets/v2/images/time-expired.svg
  app/assets/v2/js/shared.js
  app/dashboard/templates/shared/bounty-popover.html
Due: eslint, stylelint

Fix trailing whitespace.
  app/assets/v2/js/shared.js
Due: eslint

Updated Kudos icon in nav
  app/assets/v2/images/kudos/IconKudos.svg
  app/dashboard/templates/shared/nav_auth.html
Due: none

Adding SVG + fixing bold.
  app/assets/v2/images/time-expired.svg
  app/assets/v2/js/shared.js
Due: eslint

Updated Grants icon in nav
  app/assets/v2/images/grants/IconMyGrants.svg
  app/dashboard/templates/shared/nav_auth.html
Due: none

Add SEX Token (#3195)
  erc20/0xB6fcaDf855B2E53645b6F9b8678aDa428BA8A756.json
  images/0xB6fcaDf855B2E53645b6F9b8678aDa428BA8A756.png
Due: none

update BND Token
  erc20/0xe61345dfd64cd455008922bcd8d8cd40edceedc1.json
  images/0xe61345dfd64cd455008922bcd8d8cd40edceedc1.png
Due: none

Modify team on about page Added @octavioamu @austintgriffith @frankchen07 @hopsoft Removed Justin Bean
  app/assets/v2/images/team/austin-griffith.jpg
  app/assets/v2/images/team/frank-chen.png
  app/assets/v2/images/team/justin-bean.jpg
  app/assets/v2/images/team/nate-hopkins.png
  app/assets/v2/images/team/octavio-amu.png
  app/retail/templates/about.html
  app/retail/views.py
Due: yapf

Ran svgo on kudos icon
  app/assets/v2/images/kudos/IconKudos.svg
Due: none

grants update (#2966)
  app/assets/v2/css/grants/card.css
  app/assets/v2/css/grants/fund.css
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/detail.js
  app/assets/v2/js/grants/fund.js
  app/assets/v2/js/grants/new.js
  app/assets/v2/js/grants/shared.js
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/shared/alpha.html
  app/grants/templates/grants/shared/waiting_state.html
  app/grants/templates/grants/stub/index.html
  app/grants/templates/grants/stub/nav.html
  app/grants/views.py
Due: eslint, stylelint, yapf

Flash Mask and Eye Patch Accessory
  app/assets/v2/images/avatar/Accessories/Masks-eye-patch.svg
  app/assets/v2/images/avatar/Accessories/Masks-flash.svg
  app/avatar/templates/accessories/masks/eye-patch.txt
  app/avatar/templates/accessories/masks/flash.txt
  app/avatar/utils.py
Due: yapf

Fix url ref for revenue
  app/app/urls.py
Due: yapf

Fix dangerous defaults for Profile.keywords and Profile.organizations
  app/dashboard/migrations/0123_auto_20181128_1545.py
  app/dashboard/models.py
Due: yapf

Fix revenue ref and grant migrations
  app/dashboard/migrations/0124_auto_20181128_1547.py
  app/grants/migrations/0001_initial.py
  app/grants/migrations/0002_auto_20181119_1728.py
  app/grants/migrations/0003_auto_20181120_0011.py
  app/grants/migrations/0004_auto_20181120_0027.py
  app/grants/migrations/0005_grant_slug.py
  app/grants/migrations/0006_auto_20181121_1646.py
  app/grants/migrations/0007_auto_20181126_1652.py
  app/grants/migrations/0008_grant_contract_version.py
Due: yapf

Update utils.py
  app/avatar/utils.py
Due: yapf

adding POST for cancel_grant
  app/assets/v2/js/grants/detail.js
  app/grants/migrations/0008_grant_contract_version.py
  app/grants/templates/grants/detail.html
  app/grants/views.py
Due: eslint, yapf

Update contributor documentation
  docs/CONTRIBUTING.md
Due: none

roundup 11/28
  app/retail/emails.py
Due: yapf

Update emails.py
  app/retail/emails.py
Due: yapf
