Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i
  - -r
  - -e
  - app/**/migrations/
  - -e
  - app/app/settings.py
  - -p
  - app/avatar/
  - app/credits/
  - app/dataviz/
  - app/enssubdomain/
  - app/ethos/
  - app/github/

updated ears and body alignment. added 2 more hair styles so users have base options to design alongside.
  app/assets/v2/images/avatar/_design_templates/gitcoin_avatar_template.ai
  app/avatar/design_templates/gitcoin_avatar_template.ai
Due: none

grants : minor improv
  app/assets/v2/css/grants/detail.css
  app/assets/v2/css/grants/new.css
  app/grants/templates/grants/detail.html
Due: stylelint

fix svg font
  app/assets/v2/images/top-bar/codefund-symbol.svg
  app/assets/v2/images/top-bar/gitcoin-symbol.svg
  app/assets/v2/images/top-bar/grants-symbol.svg
  app/assets/v2/images/top-bar/kudos-symbol.svg
Due: none

add model view
  app/kudos/views.py
Due: yapf

add migration
  app/dashboard/migrations/0111_auto_20181018_0003.py
  app/dashboard/models.py
Due: yapf

add activity kudos
  app/dashboard/models.py
  app/kudos/views.py
Due: yapf

grants/admin: base setup (#2484)
  app/assets/v2/css/grants/detail.css
  app/assets/v2/css/grants/new.css
  app/assets/v2/js/grants/detail.js
  app/grants/templates/grants/detail.html
  app/retail/templates/shared/head.html
Due: eslint, stylelint

grants/fund : refactor
  app/assets/v2/css/grants/detail.css
  app/assets/v2/css/grants/fund.css
  app/assets/v2/css/grants/grant.css
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/fund.html
  app/retail/templates/shared/head.html
Due: stylelint

Remove mnemonic from docker-compose, use ENV var
  docker-compose.yml
Due: none

Update fresh_start script for web repo
  fresh_start.sh
Due: none

Fix typo for mnemonic
  docker-compose.yml
Due: none

Fix TEST_MNEMONIC quoting issue
  docker-compose.yml
Due: none

Upgrade to web3py 4.7.2
  requirements/base.txt
Due: none

Inject poa middleware for rinkeby network
  app/dashboard/utils.py
Due: yapf

Clean up extraneous python imports
  app/app/urls.py
  app/kudos/management/commands/clone_kudos.py
  app/kudos/management/commands/mint_all_kudos.py
  app/kudos/management/commands/mint_kudos.py
  app/kudos/management/commands/sync_kudos.py
  app/kudos/management/commands/sync_kudos_listener.py
  app/kudos/management/commands/update_kudos_metadata.py
  app/kudos/models.py
  app/kudos/router.py
  app/kudos/utils.py
  app/kudos/views.py
Due: yapf

Remove deprecated kudos fixtures
  app/kudos/fixtures/kudosArtifacts.json
  app/kudos/fixtures/kudos_artifacts.yaml
Due: none

Ignore the trouble making JS files
  .eslintignore
  .stylelintignore
Due: none

Run isort on kudos files
  app/kudos/admin.py
  app/kudos/helpers.py
  app/kudos/management/commands/mint_all_kudos.py
  app/kudos/management/commands/sync_kudos.py
  app/kudos/management/commands/sync_kudos_listener.py
  app/kudos/management/commands/update_kudos_metadata.py
  app/kudos/models.py
  app/kudos/utils.py
  app/kudos/views.py
Due: yapf

Run isort on dashboard
  app/dashboard/notifications.py
  app/dashboard/views.py
Due: yapf

isort mails, emails, urls
  app/app/urls.py
  app/marketing/mails.py
  app/retail/emails.py
Due: yapf

Minor formatting changes to make linter happy
  app/assets/v2/css/select2-kudos.css
  app/assets/v2/js/pages/kudos_details.js
Due: eslint, stylelint

Updates to kudos_send to appease eslint
  app/assets/v2/js/pages/kudos_send.js
Due: eslint

Replace totalSupply with getLatestId to get latest kudos id
  app/assets/v2/js/pages/kudos_receive.js
  app/assets/v2/js/pages/kudos_send.js
  app/kudos/management/commands/sync_kudos.py
  app/kudos/management/commands/sync_kudos_listener.py
  app/kudos/management/commands/update_kudos_metadata.py
  app/kudos/utils.py
  app/kudos/views.py
Due: eslint, yapf

fix lint js
  app/assets/v2/js/eth-price.js
  app/assets/v2/js/pages/kudos-search.js
  app/assets/v2/js/pages/kudos_details.js
  app/assets/v2/js/range-slider.js
  app/kudos/templates/kudos_details.html
  app/kudos/templates/kudos_marketplace.html
Due: eslint

fix lint in range
  app/assets/v2/js/range-slider.js
Due: eslint

Token KBCC TOKEN
  erc20/0x6ac544849414fbafdc0adba7c77bbd73a7d36ac1.json
  images/0x6ac544849414fbafdc0adba7c77bbd73a7d36ac1.png
Due: none

update mol token
  erc20/0x32b7a3018e4b832dea848786348164667ec030f3.json
  images/0x32b7a3018e4b832dea848786348164667ec030f3.png
Due: none

fix send kudos
  app/kudos/templates/transaction/send.html
Due: none

Update VNX Token
  erc20/0x1563D521ba309e2Ad9f4aFfD6f4dE9759E8d4F21.json
  images/0x1563D521ba309e2Ad9f4aFfD6f4dE9759E8d4F21.png
Due: none

Created Bunny Ears accessory
  app/assets/v2/images/avatar/Accessories/HatShort-bunnyears.svg
  app/avatar/templates/accessories/hat/bunnyears.txt
  app/avatar/utils.py
Due: yapf

Shorten lines to address linter
  app/avatar/utils.py
Due: yapf

Update BRC Token
  erc20/0x21ab6c9fac80c59d401b37cb43f81ea9dde7fe34.json
  images/0x21ab6c9fac80c59d401b37cb43f81ea9dde7fe34.png
Due: none

update ISC overview
  erc20/0xe6b5201aca93523908bef1692bb1929f65a466f2.json
Due: none

roundup email
  app/retail/emails.py
Due: yapf

cleanup dupe profiles
  app/assets/v2/js/pages/tabs.js
  app/dashboard/management/commands/cleanup_dupe_profiles.py
  scripts/crontab
Due: eslint, yapf

make fix
  app/assets/v2/js/pages/tabs.js
  app/dashboard/management/commands/cleanup_dupe_profiles.py
Due: eslint, yapf

Quiet down the noise travis build
  .travis.yml
Due: none

release 20180416.0.29
  VERSION
  charts/web/Chart.yaml
  charts/web/values.yaml
  charts/web@tmp/durable-7e8caae5/jenkins-log.txt
  charts/web@tmp/durable-7e8caae5/script.sh
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
