Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i
  - -r
  - -e
  - app/**/migrations/
  - -e
  - app/app/settings.py
  - -p
  - app/avatar/
  - app/credits/
  - app/dataviz/
  - app/enssubdomain/
  - app/ethos/
  - app/github/

Fix eslinting as much as possible automatically - Travis still broken :(
  app/assets/v2/js/pages/wallet_estimate.js
Due: eslint

Include static/media_urls in oneoff base.html
  app/dashboard/templates/onepager/base.html
Due: none

Leaderboard fixes
  app/assets/v2/css/leaderboard.css
  app/assets/v2/js/pages/leaderboard.js
  app/marketing/management/commands/assemble_leaderboards.py
  app/marketing/views.py
  app/retail/templates/leaderboard.html
Due: eslint, stylelint, yapf

Update static references to replace hardcoded graph and gas static references (#2076)
  app/dashboard/templates/ens/base.html
  app/dataviz/templates/dataviz/circles.html
  app/dataviz/templates/dataviz/draggable.html
  app/dataviz/templates/dataviz/heatmap.html
  app/dataviz/templates/dataviz/scatterplot_stripped.html
  app/dataviz/templates/dataviz/spiral.html
  app/dataviz/templates/dataviz/sunburst.html
  app/gas/management/commands/output_gas_viz.py
  app/retail/templates/gas.html
Due: yapf

https://github.com/gitcoinco/web/issues/2078
  app/app/context.py
Due: yapf

links
  app/retail/emails.py
Due: yapf

Add to_dict on Activity
  app/dashboard/models.py
Due: yapf

syntax err
  app/retail/emails.py
Due: yapf

Add (Issue is closed) to the 'View on Github' button if is_issue_closed.
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

newsletter 8/24
  app/retail/emails.py
Due: yapf

Gitcoin Bounty Requests V0 (#2056)
  app/app/settings.py
  app/app/urls.py
  app/assets/v2/js/pages/bounty_request_form.js
  app/bounty_requests/__init__.py
  app/bounty_requests/admin.py
  app/bounty_requests/migrations/0001_initial.py
  app/bounty_requests/migrations/__init__.py
  app/bounty_requests/models.py
  app/bounty_requests/templates/bounty_request_form.html
  app/bounty_requests/views.py
  app/dashboard/migrations/0106_auto_20180823_1626.py
  app/marketing/mails.py
Due: eslint, yapf

Fix #2094 - Adjust pending_start_work_actions to check bounty is not None
  app/marketing/management/commands/pending_start_work_actions.py
Due: yapf

Adds codefund banner in the issue explorer and issue details page
  app/assets/v2/images/codefund_banner.png
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/dashboard/index.html
  app/dashboard/templates/shared/codefund_banner.html
Due: none

missing p tag
  app/retail/emails.py
Due: yapf

Fix #2094 - Add logger to track interest with missing bounty
  app/marketing/management/commands/pending_start_work_actions.py
Due: yapf

Add base elastic apm integration (#2092)
  app/app/settings.py
  requirements/base.txt
Due: yapf

warns user if not enough tokens
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

Add overflow in header if minihero not present
  app/assets/v2/js/base.js
  app/retail/templates/shared/minihero.html
Due: eslint

Fixes the js check to be compatible with all different pages
  app/assets/v2/js/base.js
Due: eslint

migrates from current_bounty=True to .current() because the altter is more exhaustive
  app/dashboard/models.py
  app/marketing/management/commands/bounty_feedback_email.py
  app/marketing/management/commands/expiration.py
  app/marketing/management/commands/funder_stale_email.py
  app/marketing/management/commands/new_bounties_email.py
  app/marketing/management/commands/sync_github.py
  app/marketing/utils.py
  app/retail/emails.py
Due: yapf

worker can ding
  app/dashboard/templates/bounty/details.html
Due: none

more details here on results page
  app/retail/templates/results.html
Due: none

fixes: https://github.com/gitcoinco/web/issues/2100
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Change Bounty Details
  app/app/urls.py
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/change_bounty.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/helpers.py
  app/dashboard/notifications.py
  app/dashboard/templates/bounty/change.html
  app/dashboard/templates/bounty/new.html
  app/dashboard/templates/shared/issue_deadline.html
  app/dashboard/templates/shared/issue_details.html
  app/dashboard/views.py
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/bounty_changed.html
  app/retail/templates/emails/bounty_changed.txt
Due: eslint, yapf

Stickler comments
  app/assets/v2/js/pages/funder_dashboard.js
Due: eslint

Update your Bounty Settings to get the right Crowd
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/views.py
Due: eslint, yapf

eslint: fix
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Change Bounty Details: copy update
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/bounty/change.html
Due: eslint

change autocomplete to fit gitcoin
  app/app/urls.py
  app/assets/v2/js/user-search.js
  app/dashboard/views.py
  app/kudos/templates/transaction/base.html
  app/kudos/templates/transaction/send.html
  app/kudos/views.py
Due: eslint, yapf

database model updates
  app/kudos/migrations/0001_initial.py
  app/kudos/models.py
  app/kudos/views.py
Due: yapf

Revert "change autocomplete to fit gitcoin"
  app/app/urls.py
  app/assets/v2/js/user-search.js
  app/dashboard/views.py
  app/kudos/templates/transaction/base.html
  app/kudos/templates/transaction/send.html
  app/kudos/views.py
Due: eslint, yapf

Fix merge migrations
  app/kudos/migrations/0001_initial.py
  app/kudos/migrations/0003_auto_20180823_1705.py
Due: yapf

change user search
  app/app/urls.py
  app/assets/v2/js/user-search.js
  app/dashboard/views.py
  app/kudos/templates/transaction/base.html
  app/kudos/templates/transaction/send.html
  app/kudos/views.py
Due: eslint, yapf

small fixes
  app/assets/v2/css/kudos/select2.bootstrap4.scss
  app/assets/v2/css/kudos/styles.css
  app/assets/v2/css/kudos/styles.css.map
  app/kudos/templates/transaction/send.html
Due: stylelint

sect
  erc20/0x65474676a2f18c0061de4aDd10A3fbB0fF98cB78.json
  images/0x65474676a2f18c0061de4aDd10A3fbB0fF98cB78.png
Due: none

format
  erc20/0x65474676a2f18c0061de4aDd10A3fbB0fF98cB78.json
Due: none

Update Disciplina Token
  erc20/0x03e3f0c25965f13DbbC58246738C183E27b26a56.json
  images/0x03e3f0c25965f13DbbC58246738C183E27b26a56.png
Due: none

Update Cpc token
  erc20/0x8779663b55bf575739cc23f244c82fb11a12883a.json
  images/0x8779663b55bf575739cc23f244c82fb11a12883a.png
Due: none

update info
  erc20/0x8BcB64bfDA77905398b67aF0Af084c744e777A20.json
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
