Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i
  - -r
  - -e
  - app/**/migrations/
  - -e
  - app/app/settings.py
  - -p
  - app/avatar/
  - app/credits/
  - app/dataviz/
  - app/enssubdomain/
  - app/ethos/
  - app/github/

kzone second
  erc20/0x987f58ac56ad1a224b7031736ee2b025f78f65c4.json
Due: none

kudos: added share button
  app/assets/v2/js/pages/kudos_details.js
  app/kudos/templates/kudos_details.html
  app/kudos/templates/share.html
Due: eslint

Added new category "Wallpaper" for avatar builder
  app/assets/v2/images/avatar/Wallpaper/anchors.svg
  app/assets/v2/images/avatar/Wallpaper/jigsaw.svg
  app/assets/v2/js/avatar_builder.js
  app/avatar/utils.py
Due: eslint, yapf

Add HHH token
  erc20/0x686b30a80826340a59afa564c2a01b79128eb7dd.json
  images/0x686b30a80826340a59afa564c2a01b79128eb7dd.png
Due: none

CopyFun
  erc20/0xec7277a96fedb44d449d740d578cc0bd5ee578c1.json
  images/0xec7277a96fedb44d449d740d578cc0bd5ee578c1.png
Due: none

modify json
  erc20/0xec7277a96fedb44d449d740d578cc0bd5ee578c1.json
Due: none

bounty: rename text to express interest for permissioned bounty
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

KZthird
  erc20/0x987f58ac56ad1a224b7031736ee2b025f78f65c4.json
Due: none

KZforth
  erc20/0x987f58ac56ad1a224b7031736ee2b025f78f65c4.json
Due: none

KZ5
  erc20/0x987f58ac56ad1a224b7031736ee2b025f78f65c4.json
Due: none

KZ6
  erc20/0x987f58ac56ad1a224b7031736ee2b025f78f65c4.json
Due: none

you must be on mainnet in faucet request form
  app/assets/v2/js/pages/faucet_form.js
Due: eslint

added review comments
  app/kudos/templates/share.html
Due: none

enable close modal on clicking outside
  app/assets/v2/js/pages/kudos_details.js
Due: eslint

fix for
  app/assets/v2/js/pages/process_bounty.js
Due: eslint

make fix
  app/assets/v2/js/pages/faucet_form.js
  app/avatar/utils.py
  app/marketing/management/commands/assemble_leaderboards.py
Due: eslint, yapf

add db query Q
  app/kudos/views.py
Due: yapf

fix isort
  app/kudos/views.py
Due: yapf

docs update
  docs/KUDOS.md
Due: none

kudos
  docs/RUNNING_LOCALLY_DOCKER.md
Due: none

dupe profile cleanup part 2
  app/app/utils.py
  app/dashboard/management/commands/cleanup_dupe_profiles.py
  app/dashboard/views.py
Due: yapf

cleanup stray activities
  scripts/crontab
Due: none

cleanup stray activities
  app/dashboard/management/commands/cleanup_stray_activities.py
Due: yapf

adds more kudos
  app/assets/v2/images/kudos/creative_cat.svg
  app/assets/v2/images/kudos/firedog.svg
  app/assets/v2/images/kudos/git_octocat.svg
  app/assets/v2/images/kudos/give_first.svg
  app/assets/v2/images/kudos/ipfs.svg
  app/assets/v2/images/kudos/master.svg
  app/assets/v2/images/kudos/mentor.svg
  app/assets/v2/images/kudos/party_parrot.svg
  app/assets/v2/images/kudos/pioneer.svg
  app/assets/v2/images/kudos/pragmatic.svg
  app/assets/v2/images/kudos/scarlet_letter.svg
  app/assets/v2/images/kudos/steampunk.svg
  app/assets/v2/images/kudos/your_bounty_is_bad_and_you_should_fill_bad.svg
  app/kudos/kudos.yaml
Due: none

fixed period_seconds data
  app/assets/v2/js/grants/fund_grant.js
  app/assets/v2/js/grants/new.js
  app/grants/models.py
  app/grants/views.py
Due: eslint, yapf

emailed rendered, but data broken.
  app/app/urls.py
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/grants/grants.html
  app/retail/templates/emails/grants/grants.txt
Due: yapf

kudos
  app/retail/templates/shared/bottom_notification.html
Due: none

Added santa hat accessory
  app/assets/v2/images/avatar/Accessories/HatShort-santahat.svg
  app/avatar/templates/accessories/hat/santahat.txt
  app/avatar/utils.py
Due: yapf

fix usd convertion
  app/assets/v2/js/amounts.js
Due: eslint

Add AIT and logo, Thanks!
  erc20/0x91403A0827C369F6518CA8e8EB4d82AF11889998.json
  images/0x91403A0827C369F6518CA8e8EB4d82AF11889998.png
Due: none

Added menorah hat accessory
  app/assets/v2/images/avatar/Accessories/HatShort-menorah.svg
  app/avatar/templates/accessories/hat/menorah.txt
  app/avatar/utils.py
Due: yapf

Added pilgrim hat accessory
  app/assets/v2/images/avatar/Accessories/HatShort-pilgrim.svg
  app/avatar/templates/accessories/hat/pilgrim.txt
  app/avatar/utils.py
Due: yapf

KZ7
  erc20/0x987f58ac56ad1a224b7031736ee2b025f78f65c4.json
Due: none

Create 0x82Cf44bE0768A3600c4BDeA58607783A3A7c51AE.json
  erc20/0x82Cf44bE0768A3600c4BDeA58607783A3A7c51AE.json
Due: none

Add files via upload
  images/0x82Cf44bE0768A3600c4BDeA58607783A3A7c51AE.png
Due: none

Update 0x82Cf44bE0768A3600c4BDeA58607783A3A7c51AE.json
  erc20/0x82Cf44bE0768A3600c4BDeA58607783A3A7c51AE.json
Due: none

add HTPR token
  erc20/0xd2d2bf687d4c34dfeb98e160639d002388253dce.json
  images/0xd2d2BF687D4c34dfeB98E160639d002388253dcE.png
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
