Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: ["-i", "-r", "-e", "app/**/migrations/", "-e", "app/app/settings.py", "-p", "app/avatar/", "app/credits/", "app/dataviz/", "app/enssubdomain/", "app/ethos/", "app/github/"]
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Remove permission checks for viewing grants (#3265)
  app/grants/views.py
Due: yapf

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

hotfix for https://github.com/gitcoinco/web/issues/3250
  app/assets/v2/js/pages/carousel.js
  app/kudos/templates/kudos_about.html
Due: eslint

make fix
  app/assets/v2/js/pages/carousel.js
Due: eslint

Changes to urls
  app/app/urls.py
Due: yapf

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Changes to urls
  app/app/urls.py
  app/inbox/urls.py
Due: yapf

Lint fixes
  app/inbox/urls.py
Due: yapf

newsletter PR
  app/retail/emails.py
Due: yapf

Accessory Extras - face Tattoo
  app/assets/v2/images/avatar/Accessories/Extras-tattoo.svg
  app/avatar/templates/accessories/extras/tattoo.txt
Due: none

email: change ownership
  app/app/urls.py
  app/grants/admin.py
  app/grants/migrations/0012_grant_request_ownership_change.py
  app/grants/models.py
  app/grants/templates/grants/card/front.html
  app/grants/templates/grants/detail.html
  app/grants/views.py
  app/marketing/mails.py
  app/retail/emails.py
  app/retail/templates/emails/grants/change_owner.html
  app/retail/templates/emails/grants/change_owner.txt
  app/retail/templates/emails/grants/change_owner_accept.html
  app/retail/templates/emails/grants/change_owner_accept.txt
  app/retail/templates/emails/grants/change_owner_reject.html
  app/retail/templates/emails/grants/change_owner_reject.txt
  app/retail/templates/emails/grants/grant_cancellation.html
  app/retail/templates/emails/grants/new_grant.txt
  app/retail/templates/emails/grants/support_cancellation.txt
Due: yapf

Adjust profile checks in grants
  app/app/utils.py
  app/dashboard/views.py
  app/grants/views.py
Due: yapf

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  app/utils/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

12 days of bounties
  app/assets/v2/images/kudos/12_days_of_bounties.svg
  app/kudos/kudos.yaml
Due: none

minor improvs
  app/assets/v2/css/forms/radio.css
  app/assets/v2/js/pages/kill_bounty.js
  app/dashboard/templates/bounty/kill.html
  app/dashboard/views.py
Due: eslint, stylelint, yapf

var -> const
  app/assets/v2/js/pages/kill_bounty.js
Due: eslint

initial change kudos price mgmt command https://github.com/gitcoinco/web/issues/3209
  app/kudos/management/commands/change_kudos_price.py
Due: yapf

misc fixes for https://github.com/gitcoinco/web/issues/3209
  app/kudos/management/commands/change_kudos_price.py
Due: yapf

network=network
  app/kudos/management/commands/change_kudos_price.py
Due: yapf

make fix
  app/kudos/management/commands/change_kudos_price.py
Due: yapf

clean and visual changes
  app/app/urls.py
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/cancel_bounty_reason.html
  app/dashboard/templates/stop_work_modal.html
  app/dashboard/views.py
Due: eslint, yapf

Changes url in frontend
  app/assets/v2/js/notifications.js
  app/dashboard/templates/shared/notifications.html
Due: eslint

fix UI bug where two headers were of similar color to their backgrounds. Now both use --text-light color like the paragraphs/spans in their section.
  app/assets/v2/css/landing_page.css
  app/retail/templates/shared/what_is_gitcoin.html
Due: stylelint

use --light as the text color, --text-light was slightly darker than the paragraph contents.
  app/assets/v2/css/landing_page.css
Due: stylelint

Hair Style - Modern Hair Style 1
  app/assets/v2/images/avatar/HairStyle/modernhair_1-000000.svg
  app/assets/v2/images/avatar/HairStyle/modernhair_1-0ECF7C.svg
  app/assets/v2/images/avatar/HairStyle/modernhair_1-3596EC.svg
  app/assets/v2/images/avatar/HairStyle/modernhair_1-4D22D2.svg
  app/assets/v2/images/avatar/HairStyle/modernhair_1-4E3521.svg
  app/assets/v2/images/avatar/HairStyle/modernhair_1-8C3B28.svg
  app/assets/v2/images/avatar/HairStyle/modernhair_1-8E2ABE.svg
  app/assets/v2/images/avatar/HairStyle/modernhair_1-B28E28.svg
  app/assets/v2/images/avatar/HairStyle/modernhair_1-ED2027.svg
  app/assets/v2/images/avatar/HairStyle/modernhair_1-F0E6FF.svg
  app/assets/v2/images/avatar/HairStyle/modernhair_1-F4EA6E.svg
  app/avatar/templates/hair/modernhair_1.txt
  app/avatar/utils.py
Due: yapf

suminer tx counter implemented. Need to test.
  app/grants/migrations/0012_auto_20181223_2007.py
  app/grants/models.py
  app/grants/views.py
Due: yapf

helps debug https://gitcoincore.slack.com/archives/CBDTKB59A/p1545599175013900
  app/assets/v2/css/base.css
  app/assets/v2/css/grants/grant.css
  app/grants/admin.py
  app/grants/models.py
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/new.html
  app/kudos/templates/kudos_details.html
Due: stylelint, yapf

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  grants/admin/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

prevent many times multiple billing on grants
  app/grants/management/commands/subminer.py
  app/grants/models.py
  app/marketing/mails.py
Due: yapf

missing migration
  app/grants/migrations/0012_auto_20181223_2245.py
Due: yapf

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  grants/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

misc grants cleanup related to subminer not working
  app/grants/admin.py
  app/grants/management/commands/subminer.py
  app/grants/models.py
  app/grants/views.py
Due: yapf

better debug info, better scanning of which ones are past due
  app/grants/management/commands/subminer.py
  app/grants/models.py
Due: yapf
