Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.3'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: [-r, -e, "app/**/migrations/", app/dataviz/, app/app/, app/enssubdomain/]

Upadte OLT token
  erc20/0x64A60493D888728Cf42616e034a0dfEAe38EFCF0.json
  images/0x64A60493D888728Cf42616e034a0dfEAe38EFCF0.png
Due: none

add zat
  erc20/0x603515243B98d6624adf243E1F4607144d21E281.json
  images/0x603515243B98d6624adf243E1F4607144d21E281.png
Due: none

Fix #1934 - Resolve funded total in profile (#1935)
  app/dashboard/models.py
Due: yapf

Fix bad import
  app/app/utils.py
Due: yapf

Update GR token
  erc20/0x72Fa80bf9faD3595a2cD9632E04B1EA4d6A7f552.json
  images/0x72Fa80bf9faD3595a2cD9632E04B1EA4d6A7f552.png
Due: none

Upadte bca token
  erc20/0xe36df5bb57e80629cfc28a31e5f794071c085eca.json
  images/0xe36df5bb57e80629cfc28a31e5f794071c085eca.png
Due: none

Add files via upload
  erc20/0x7B5edAB3E5AfDE6E01881567E54273B542d96A7b.json
Due: none

fix for https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/321/?referrer=slack
  app/marketing/views.py
Due: yapf

support for https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/320/?referrer=slack
  app/marketing/views.py
Due: yapf

disqus url now canonical
  app/dashboard/templates/shared/disqus.html
  app/retail/templates/gas_history.html
Due: none

funder stale args
  scripts/crontab
Due: none

very small copy change
  app/retail/emails.py
Due: yapf

smarter funder stale emails
  app/marketing/mails.py
  app/retail/emails.py
Due: yapf

fix for ipfs hashes not existing
  app/dashboard/helpers.py
  app/dashboard/utils.py
Due: yapf

fix for being redirected to old bounty id upon submission
  app/dashboard/utils.py
Due: yapf

copy updates
  app/retail/templates/shared/what_is_gitcoin.html
Due: none

add wallet to profile
  app/assets/v2/css/kudos/styles.css
  app/assets/v2/css/kudos/styles.css.map
  app/assets/v2/css/kudos/styles.scss
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/profile_kudos.html
  app/dashboard/views.py
  app/retail/templates/shared/footer_scripts.html
Due: stylelint, yapf

add new kudos assets
  app/assets/v2/images/kudos/busines_smind.svg
  app/assets/v2/images/kudos/grow_opensource.svg
  app/assets/v2/images/kudos/idea_person.svg
  app/assets/v2/images/kudos/ship_code.svg
  app/kudos/kudos.yaml
Due: none

handler for not sending funder stale emails if n email
  app/marketing/management/commands/funder_stale_email.py
Due: yapf

puts the right network linkn on the web3 waiter
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

metamask reloader
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

bounty details funder address is shown
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/bounty/details.html
Due: eslint

added review feedback
  app/assets/v2/js/pages/dashboard.js
Due: eslint

gets funder db to load on my lcoal
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/views.py
Due: yapf

filters
  app/dashboard/views.py
Due: yapf

Add HCT (#1704)
  erc20/0x9bcb9c350dacecf995b7553608e630c2088accaf.json
  images/0x9bcb9c350dacecf995b7553608e630c2088accaf.png
Due: none

explorer: ensure results from latest api call are served to the user (#1941)
  app/assets/v2/js/pages/dashboard.js
Due: eslint

Add wrong directory check and fix some exist wrong files
  erc20/0x54257fcaaa8e50ae9a47bf3afe054756fb1230f6.json
  erc20/0x6c9a55be8f7aaf934a5779a63c8194d039e14a9f
  erc20/0x6c9a55be8f7aaf934a5779a63c8194d039e14a9f.json
  erc20/0xD0352a019e9AB9d757776F532377aAEbd36Fd541.json
  erc20/0xe7d84cbee9b2234e53bde7ea093e7d1e198ca46a.json
  images/0xc711348eb06f6918f8eae66ce3fcf4747345d78e.png
  test/index.js
Due: eslint

Optimize code
  test/index.js
Due: eslint

dashboard: uri cleanup
  app/assets/v2/js/pages/dashboard.js
Due: eslint

Upgrade django to 2.1, modify field defaults, and address deprecations (#1915)
  app/app/urls.py
  app/dashboard/models.py
  app/dashboard/views.py
  app/dataviz/models.py
  app/dataviz/templates/cohort.html
  app/dataviz/templates/dataviz/calendar.html
  app/dataviz/templates/dataviz/chord.html
  app/dataviz/templates/dataviz/circles.html
  app/dataviz/templates/dataviz/heatmap.html
  app/dataviz/templates/dataviz/index.html
  app/dataviz/templates/dataviz/spiral.html
  app/dataviz/templates/dataviz/square_graph.html
  app/dataviz/templates/dataviz/steamgraph.html
  app/dataviz/templates/dataviz/sunburst.html
  app/dataviz/templates/funnel.html
  app/dataviz/templates/stats.html
  app/economy/models.py
  app/external_bounties/models.py
  app/faucet/models.py
  app/faucet/templates/process_faucet_request.html
  app/marketing/models.py
  app/retail/templates/admin/index.html
  app/retail/templates/process_accesscode_request.html
  app/retail/templates/resend_tip.html
  app/retail/views.py
  requirements/base.txt
  requirements/test.txt
  setup.cfg
Due: yapf

add wallets action
  app/assets/v2/css/kudos/styles.css
  app/assets/v2/css/kudos/styles.css.map
  app/assets/v2/css/kudos/styles.scss
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/profile_kudos.html
  app/dashboard/views.py
Due: stylelint, yapf

organize code
  app/dashboard/templates/profiles/profile.html
Due: none

Update MSKC token
  erc20/0x7633f5f923c8a4a93dbd3c408127d4030f7b2e56.json
  images/0x7633f5f923c8a4a93dbd3c408127d4030f7b2e56.png
Due: none

Update ngot token
  erc20/0x1EbD8d3Ca115451b9B6BbaA7Ee2F7B0F96E49fD8.json
  images/0x1EbD8d3Ca115451b9B6BbaA7Ee2F7B0F96E49fD8.png
Due: none

Update INB token
  erc20/0x17aa18a4b64a55abed7fa543f2ba4e91f2dce482.json
  images/0x17aa18a4b64a55abed7fa543f2ba4e91f2dce482.png
Due: none

update NUC token
  erc20/0xd780fC7B5e318c2885Ce546Df2B6C6E431b2EB4f.json
  images/0xd780fC7B5e318c2885Ce546Df2B6C6E431b2EB4f.png
Due: none

Update TTT token
  erc20/0x317572AaBc73d59Fc55F923750D1c51680fd28B4.json
  images/0x317572AaBc73d59Fc55F923750D1c51680fd28B4.png
Due: none

Update BUS Token
  erc20/0x735d580CCF39db73F26D14DDB88D81bd0CF72Ee3.json
  images/0x735d580CCF39db73F26D14DDB88D81bd0CF72Ee3.png
Due: none
