Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i
  - -r
  - -e
  - app/**/migrations/
  - -e
  - app/app/settings.py
  - -p
  - app/avatar/
  - app/credits/
  - app/dataviz/
  - app/enssubdomain/
  - app/ethos/
  - app/github/

- Reserved for user will get notified by email once the issue has been created by the funder
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/change_bounty.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/helpers.py
  app/dashboard/templates/bounty/change.html
  app/dashboard/templates/bounty/new.html
  app/dashboard/views.py
Due: eslint, yapf

svgo: compress img
  app/assets/v2/images/box.svg
  app/assets/v2/images/close-purple.svg
  app/assets/v2/images/metamask-color.svg
  app/assets/v2/images/quickstart-box.svg
Due: none

Adjust caching in results
  app/retail/utils.py
Due: yapf

lint fixes
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/new_bounty.js
Due: eslint

lint fixes
  app/assets/v2/css/bounty.css
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/change_bounty.js
  app/dashboard/helpers.py
  app/dashboard/views.py
Due: eslint, stylelint, yapf

svgo: compress img (#2172)
  app/assets/v2/images/box.svg
  app/assets/v2/images/close-purple.svg
  app/assets/v2/images/metamask-color.svg
  app/assets/v2/images/quickstart-box.svg
Due: none

lint fixes
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

lint fixes
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/helpers.py
  app/dashboard/views.py
Due: eslint, yapf

Adjust max-age for static assets in S3 to 180 days
  app/app/settings.py
Due: yapf

lint fixes
  app/dashboard/helpers.py
Due: yapf

lint fixes
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/helpers.py
Due: eslint, yapf

Update README.zh-CN.md
  README.zh-CN.md
Due: none

expiration_start_work.py: Honor pull requests
  app/git/utils.py
  app/marketing/management/commands/expiration_start_work.py
Due: yapf

Update ABSC Token
  erc20/0x661Ec83b4D1b676C84b389fbD75BF1B509a126E0.json
  images/0x661Ec83b4D1b676C84b389fbD75BF1B509a126E0.png
Due: none

Update Rethen Token (#2235)
  erc20/0xa11E45783EB07a5E90e201f9AA473F123cCC8E51.json
  images/0xa11E45783EB07a5E90e201f9AA473F123cCC8E51.png
Due: none

searchable token approvals
  app/dashboard/admin.py
Due: yapf

send new token requests to founders@ since i shouldnt be the only one approving them, while traveling
  app/marketing/mails.py
Due: yapf

Update HIBT Token
  erc20/0x9bb1db1445b83213a56d90d331894b3f26218e4e.json
  images/0x9bb1db1445b83213a56d90d331894b3f26218e4e.png
Due: none

update MR token
  erc20/0xa62442bBC2b91ba7F639aAafDb77d2690f525104.json
  images/0xa62442bBC2b91ba7F639aAafDb77d2690f525104.png
Due: none

Bounty Request: Fix form label binding
  app/bounty_requests/templates/bounty_request_form.html
Due: none

Update CVT Logo (#2249)
  images/0xBe428c3867F05deA2A89Fc76a102b544eaC7f772.png
Due: none

Update GACT token
  erc20/0x50551265ba0aef89c43f9a965e58922867a6eb3a.json
  images/0x50551265ba0aef89c43f9a965e58922867a6eb3a.png
Due: none

update Cryptrust Token
  erc20/0x8606a8F28e1e2FD50B9074d65C01548B1F040B32.json
  images/0x8606a8F28e1e2FD50B9074d65C01548B1F040B32.png
Due: none

Update CPT token
  erc20/0x80b4B629e33600b03c0b9Aa95bFA70e158DCDAcD.json
  images/0x80b4B629e33600b03c0b9Aa95bFA70e158DCDAcD.png
Due: none

update SCH Token
  erc20/0xf34839b310097fcb4cf3a302dda8cc9b57501083.json
  images/0xf34839b310097fcb4cf3a302dda8cc9b57501083.png
Due: none

Update LOTO token
  erc20/0xf947B0824c3995787EFC899017A36bC9f281265e.json
  images/0xf947B0824c3995787EFC899017A36bC9f281265e.png
Due: none

Add capital and small letter notice
  test/index.js
Due: eslint

avatar should be a raw id field
  app/dashboard/admin.py
Due: yapf

crowdfunded: bug fix
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

crowdfunded: bug fix (#2180)
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Adjust avatar url handling for svg github av
  app/avatar/models.py
Due: yapf

Roundup email updates for 7SEP2018
  app/retail/emails.py
Due: yapf

Roundup email updates for 7SEP2018 (#2181)
  app/retail/emails.py
Due: yapf

Add kudos receive for urls
  app/app/urls.py
Due: yapf

Some formatting and cleanup
  app/kudos/views.py
  app/retail/templates/shared/nav.html
Due: yapf

Remove extra hr tag from roundup template
  app/retail/templates/emails/bounty_roundup.html
Due: none

Adjust roundup template CSS for linting
  app/retail/templates/emails/bounty_roundup.html
Due: none

Updates to kudos receive page
  app/assets/v2/js/pages/kudos_receive.js
  app/dashboard/utils.py
  app/kudos/templates/transaction/receive.html
  app/kudos/templates/transaction/send.html
  app/kudos/views.py
Due: eslint, yapf

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
