Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i
  - -r
  - -e
  - app/**/migrations/
  - -e
  - app/app/settings.py
  - -p
  - app/avatar/
  - app/credits/
  - app/dataviz/
  - app/enssubdomain/
  - app/ethos/
  - app/github/

overlay: reduced opacity
  app/assets/v2/css/base.css
Due: stylelint

Gitcoin Bounty Requests V0
  app/app/settings.py
  app/app/urls.py
  app/assets/v2/js/pages/bounty_request_form.js
  app/bounty_requests/__init__.py
  app/bounty_requests/admin.py
  app/bounty_requests/migrations/__init__.py
  app/bounty_requests/models.py
  app/bounty_requests/templates/bounty_request_form.html
  app/bounty_requests/views.py
  app/marketing/mails.py
Due: eslint, yapf

Fix widget loop (#2068)
  js-sdk/src/index.js
Due: eslint

Up the js-sdk version to 1.0.6
  js-sdk/package.json
Due: none

Update wallet FK model
  app/dashboard/views.py
  app/kudos/models.py
Due: yapf

Add GET query by profile__handle
  app/kudos/router.py
Due: yapf

Add github profile and wallet lookup
  app/assets/v2/js/pages/kudos_send.js
  app/kudos/templates/kudos_details.html
  app/kudos/templates/transaction/send.html
  app/kudos/views.py
Due: eslint, yapf

bounty count
  app/dashboard/models.py
Due: yapf

Adjust some static references
  app/app/settings.py
  app/dashboard/notifications.py
  app/external_bounties/models.py
  app/marketing/utils.py
Due: yapf

dont show non funded tips
  app/dashboard/models.py
Due: yapf

backups were wrong, still pointed to local settings
  scripts/backup.bash
Due: none

backup
  scripts/backup.bash
Due: none

backup scr
  scripts/backup.bash
Due: none

fulfilled bounty count
  app/dashboard/models.py
Due: yapf

wrong param
  app/dashboard/models.py
Due: yapf

distinct
  app/dashboard/models.py
Due: yapf

Use static references where appropriate, format graph and gas html per linting
  app/dashboard/templates/ens/base.html
  app/dataviz/templates/dataviz/circles.html
  app/dataviz/templates/dataviz/draggable.html
  app/dataviz/templates/dataviz/heatmap.html
  app/dataviz/templates/dataviz/scatterplot_stripped.html
  app/dataviz/templates/dataviz/spiral.html
  app/dataviz/templates/dataviz/sunburst.html
  app/gas/management/commands/output_gas_viz.py
  app/retail/templates/gas.html
Due: yapf

gas price prefills
  app/assets/v2/js/pages/wallet_estimate.js
  app/assets/v2/js/shared.js
  app/dashboard/templates/shared/wallet_estimate.html
Due: eslint

refactor: ident fix
  app/dataviz/templates/dataviz/heatmap.html
  app/dataviz/templates/dataviz/spiral.html
Due: none

Fix eslinting as much as possible automatically - Travis still broken :(
  app/assets/v2/js/pages/wallet_estimate.js
Due: eslint

Bounty Requests: migrations
  app/bounty_requests/migrations/0001_initial.py
  app/dashboard/migrations/0106_auto_20180823_1626.py
Due: yapf

Disable user feedback on 500 for now
  app/retail/templates/error.html
Due: none

Update kudos images and yaml fie
  app/assets/v2/images/kudos/above_and_beyond.svg
  app/assets/v2/images/kudos/app_dev_all_star.svg
  app/assets/v2/images/kudos/artist.svg
  app/assets/v2/images/kudos/bug_squasher.svg
  app/assets/v2/images/kudos/business_mind.svg
  app/assets/v2/images/kudos/delegate_everything_you_can.svg
  app/assets/v2/images/kudos/design_star.svg
  app/assets/v2/images/kudos/devcon_4.svg
  app/assets/v2/images/kudos/direct.svg
  app/assets/v2/images/kudos/do_more_faster.svg
  app/assets/v2/images/kudos/elixer_creator.svg
  app/assets/v2/images/kudos/eye_for_detail.svg
  app/assets/v2/images/kudos/fast_turn_around.svg
  app/assets/v2/images/kudos/handy_woman.svg
  app/assets/v2/images/kudos/handyman.svg
  app/assets/v2/images/kudos/helping_hand.svg
  app/assets/v2/images/kudos/infrastructure_ninja.svg
  app/assets/v2/images/kudos/level_up.svg
  app/assets/v2/images/kudos/problem_solver.svg
  app/assets/v2/images/kudos/product_wizard.svg
  app/assets/v2/images/kudos/pythonista.svg
  app/assets/v2/images/kudos/qa_ninja.svg
  app/assets/v2/images/kudos/react.svg
  app/assets/v2/images/kudos/release_early_and_often.svg
  app/assets/v2/images/kudos/shill_colorado.svg
  app/assets/v2/images/kudos/shill_ethereum.svg
  app/assets/v2/images/kudos/super_juggler.svg
  app/assets/v2/images/kudos/superhero.svg
  app/assets/v2/images/kudos/sustain_oss.svg
  app/assets/v2/images/kudos/unix_philosophy.svg
  app/assets/v2/images/kudos/utopia.svg
  app/kudos/kudos.yaml
Due: none

Fix yaml parse error
  app/kudos/kudos.yaml
Due: none

Adjust onepager auth av reference
  app/dashboard/templates/shared/onepager_auth.html
Due: none

Change `price` to `price_finney`
  app/assets/v2/js/abi.js
  app/kudos/Kudos.json
  app/kudos/management/commands/mint_all_kudos.py
  app/kudos/migrations/0001_initial.py
  app/kudos/models.py
  app/kudos/utils.py
Due: eslint, yapf

apply visual changes
  app/dashboard/templates/profiles/profile.html
  app/kudos/templates/kudos_about.html
  app/kudos/templates/kudos_details.html
  app/kudos/templates/shared/kudos_card.html
  app/kudos/templates/transaction/receive.html
  app/kudos/templates/transaction/send.html
Due: none

eslint : lint fixes
  app/assets/v2/js/pages/wallet_estimate.js
Due: eslint

Update static references to replace hardcoded graph and gas static references (#2076)
  app/dashboard/templates/ens/base.html
  app/dataviz/templates/dataviz/circles.html
  app/dataviz/templates/dataviz/draggable.html
  app/dataviz/templates/dataviz/heatmap.html
  app/dataviz/templates/dataviz/scatterplot_stripped.html
  app/dataviz/templates/dataviz/spiral.html
  app/dataviz/templates/dataviz/sunburst.html
  app/gas/management/commands/output_gas_viz.py
  app/retail/templates/gas.html
Due: yapf

Fix bugs
  app/kudos/kudos.yaml
  app/kudos/management/commands/mint_all_kudos.py
  app/kudos/migrations/0001_initial.py
  app/kudos/models.py
Due: yapf

self regression test
  app/assets/v2/js/pages/shared_bounty_mutation_estimate_gas.js
Due: eslint

https://github.com/gitcoinco/web/issues/2078
  app/app/context.py
Due: yapf

Push temporary fresh_start.sh script for testing
  fresh_start.sh
Due: none

Update fresh_start.sh script to use standard directories
  fresh_start.sh
Due: none

Fix c sharp
  app/assets/v2/images/kudos/c_sharp.svg
  app/kudos/kudos.yaml
Due: none

Add overflow in header if minihero not present
  app/assets/v2/js/base.js
  app/retail/templates/shared/minihero.html
Due: eslint

Add (Issue is closed) to the 'View on Github' button if is_issue_closed.
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Fix C programmer
  app/kudos/kudos.yaml
Due: none

Include static/media_urls in oneoff base.html
  app/dashboard/templates/onepager/base.html
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
