Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: ["-i", "-r", "-e", "app/**/migrations/", "-e", "app/app/settings.py", "-p", "app/avatar/", "app/credits/", "app/dataviz/", "app/enssubdomain/", "app/ethos/", "app/github/"]
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Fixing get_total_cost.
  app/assets/v2/js/pages/bulk_payout.js
Due: eslint

grants/new: refactor
  app/assets/v2/css/grants/new.css
  app/assets/v2/js/grants/new.js
  app/grants/templates/grants/index.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/show.html
Due: eslint, stylelint

Revert "grants/new: refactor (#2396)"
  app/assets/v2/css/grants/new.css
  app/assets/v2/js/grants/new_grant.js
  app/grants/templates/grants/index.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/show.html
Due: eslint, stylelint

working on subscriptions. signatures aubmitting twice for some reason...
  app/assets/v2/js/grants/fund_grant.js
  app/grants/templates/grants/fund.html
  app/grants/views.py
Due: eslint, yapf

grants/new: refactor (#2397)
  app/assets/v2/css/grants/new.css
  app/assets/v2/js/grants/new.js
  app/grants/templates/grants/index.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/show.html
Due: eslint, stylelint

Fix new grant, cards, and details to display correct data
  app/grants/forms.py
  app/grants/migrations/0001_initial.py
  app/grants/models.py
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/grant_card.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/show.html
  app/grants/utils.py
  app/grants/views.py
  app/retail/templates/emails/grants/thank_you_for_supporting.html
  app/retail/templates/emails/grants/thank_you_for_supporting.txt
Due: yapf

Fix es/stylelint
  app/assets/v2/js/grants/new.js
Due: eslint

Fix for missing pitch attr on cards
  app/grants/templates/grants/grant_card.html
Due: none

Derp - Fix grants/urls.py isort
  app/grants/urls.py
Due: yapf

Adjust new grants, fix grant details and cards for user details and logos (#2399)
  app/assets/v2/js/grants/new.js
  app/grants/forms.py
  app/grants/migrations/0001_initial.py
  app/grants/models.py
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/grant_card.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/show.html
  app/grants/utils.py
  app/grants/views.py
  app/retail/templates/emails/grants/thank_you_for_supporting.html
  app/retail/templates/emails/grants/thank_you_for_supporting.txt
Due: eslint, yapf

npm audit
  package-lock.json
  package.json
Due: none

npm audit
  package-lock.json
Due: none

npm update
  package-lock.json
  package.json
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Updates to handle the latest Kudos contract changes
  app/assets/v2/js/abi.js
  app/assets/v2/js/pages/kudos_receive.js
  app/assets/v2/js/pages/kudos_send.js
  app/kudos/Kudos.json
  app/kudos/management/commands/mint_all_kudos.py
  app/kudos/management/commands/sync_kudos.py
  app/kudos/utils.py
Due: eslint, yapf

lighted jack o lanter on avatar builder
  app/assets/v2/images/avatar/Accessories/Masks-jack-o-lantern-lighted.svg
  app/avatar/utils.py
Due: yapf

adds an eth-trek logo to the avatar builder
  app/assets/v2/images/avatar/Clothing/ethlogo-4242F4.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-684A23.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-F48914.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-FFCC3B.svg
  app/avatar/utils.py
Due: yapf

a few small fixes
  app/dashboard/models.py
  app/retail/templates/emails/quarterly_stats.html
Due: yapf

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

a few small stat email fixes
  app/marketing/mails.py
  app/retail/templates/emails/quarterly_stats.html
Due: yapf

css
  app/marketing/mails.py
  app/retail/templates/emails/quarterly_stats.html
Due: yapf

still trying to fix the css
  app/retail/templates/emails/quarterly_stats.html
Due: none

one last time
  app/retail/templates/emails/quarterly_stats.html
Due: none

lorem ipsum somehow made it in
  app/retail/templates/presskit/colors.html
Due: none

appove functionality working. Ironing out tx submission by subminer. tx is currently reverting on submission. Almost there.
  app/assets/v2/js/grants/fund_grant.js
  app/assets/v2/js/grants/new.js
  app/grants/templates/grants/approve.html
Due: eslint

appove functionality working. Ironing out tx submission by subminer. tx is currently reverting on submission. Almost there.
  app/grants/templates/grants/approve.html
Due: none

Fix IPFS CORs problem again
  docker-compose.yml
  fresh_start.sh
  ipfsconfig.json
Due: none

Update how rarity gets set
  app/kudos/management/commands/mint_all_kudos.py
  app/kudos/migrations/0001_initial.py
  app/kudos/models.py
  app/kudos/utils.py
Due: yapf

kudos.yaml now has tags as an array of strings
  app/kudos/kudos.yaml
Due: none

Add new kudos images
  app/assets/v2/images/kudos/cellarius/Burst.svg
  app/assets/v2/images/kudos/cellarius/Circle.svg
  app/assets/v2/images/kudos/cellarius/Diamond.svg
  app/assets/v2/images/kudos/cellarius/Infinite.svg
  app/assets/v2/images/kudos/cellarius/Spaghetti.svg
  app/assets/v2/images/kudos/cellarius/Triangle.svg
  app/assets/v2/images/kudos/cellarius/heart.svg
Due: none

update rinkeby address for abi.js
  app/assets/v2/js/abi.js
Due: eslint

parrot
  app/assets/v2/images/avatar/Accessories/Extras-Parrot.svg
  app/assets/v2/js/avatar_builder.js
  app/avatar/utils.py
Due: eslint, yapf

adds a parrot
  app/avatar/utils.py
Due: yapf
