Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.3'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: [-r, -e, "app/**/migrations/", app/dataviz/, app/app/, app/enssubdomain/]

Implement management command 'sync_listener'
  app/dashboard/management/commands/sync_listener.py
Due: yapf

BEU
  erc20/0x353cAFd02131CA5b69211BBc3899f556BC62B7E3.json
  images/0x353cAFd02131CA5b69211BBc3899f556BC62B7E3.png
Due: none

BEU
  erc20/0x353cAFd02131CA5b69211BBc3899f556BC62B7E3.json
Due: none

Update Info for BitScreener
  erc20/0xff2b3353c3015E9f1FBF95B9Bda23F58Aa7cE007.json
Due: none

Add logo for BITX token
  images/0xff2b3353c3015E9f1FBF95B9Bda23F58Aa7cE007.png
Due: none

Delete 0xfe76be9cec465ed3219a9972c21655d57d21aec6.png
  images/0xfe76be9cec465ed3219a9972c21655d57d21aec6.png
Due: none

Add files via upload
  images/0xfe76be9cec465ed3219a9972c21655d57d21aec6.png
Due: none

Add PalletOne Token Logo
  images/0xfe76be9cec465ed3219a9972c21655d57d21aec6.png
Due: none

images/0xc37df6da3f7fd8290d7e1122b91dd1acc402f0e4.png
  images/0xc37df6da3f7fd8290d7e1122b91dd1acc402f0e4.png
Due: none

Update payout history to use server data
  app/assets/v2/js/pages/funder_dashboard.js
  app/dashboard/templates/funder_dashboard.html
  app/dashboard/views.py
Due: eslint, yapf

Create LICENSE.txt
  LICENSE.txt
Due: none

Don't show expired issues if no expired issues
  app/dashboard/templates/funder_dashboard.html
Due: none

Add total budget input
  app/dashboard/templates/funder_dashboard.html
Due: none

Add JS placeholder for total budget input
  app/assets/v2/js/pages/funder_dashboard.js
Due: eslint

updates hourly rate dist
  app/retail/utils.py
Due: yapf

a few small clarifications on the results page
  app/assets/v2/css/base.css
  app/retail/templates/results.html
Due: stylelint

a few small clarifications on the results page
  app/retail/templates/results.html
Due: none

Add stub for profile.is_funder
  app/dashboard/models.py
  app/dashboard/templates/shared/nav_auth.html
Due: yapf

gas estimator on gas page - http://bits.owocki.com/3Z041d3b2G1b/Screen%20Recording%202018-07-08%20at%2005.43%20PM.gif
  app/assets/v2/js/base.js
  app/assets/v2/js/pages/gas.js
  app/assets/v2/js/pages/shared_bounty_mutation_estimate_gas.js
  app/assets/yge/youvegoteth/receive.js
  app/dashboard/views.py
  app/retail/templates/gas.html
Due: eslint, yapf

linter
  app/dashboard/views.py
Due: yapf

more team eth addresses
  app/marketing/stats.py
Due: yapf

profile can edit without avatar
  app/dashboard/models.py
Due: yapf

get results keywords to programming languages
  app/retail/views.py
Due: yapf

a few udpates
  app/dashboard/management/commands/sync_listener.py
  scripts/crontab
Due: yapf

hide network pill on mobile + reorder media query code
  app/assets/v2/css/base.css
Due: stylelint

listener
  app/dashboard/management/commands/sync_listener.py
  scripts/crontab
Due: yapf

add MXT
  erc20/0x241c248b0db328e25921a91d04f43c985dedbd07.json
  images/0x241c248b0db328e25921a91d04f43c985dedbd07.png
Due: none

Display bounty title before value
  app/dashboard/notifications.py
Due: yapf

removes console
  app/assets/v2/js/pages/gas.js
Due: eslint

merge migration'
  app/dashboard/migrations/0089_merge_20180709_0242.py
Due: yapf

Fix: White paper page isn't responsive and rendering is off
  app/retail/templates/whitepaper_new.html
Due: none

fix for https://github.com/gitcoinco/web/pull/1607
  app/dashboard/models.py
  app/marketing/management/commands/new_bounties_email.py
Due: yapf

link to etherscan
  app/assets/v2/css/bounty.css
  app/dashboard/templates/shared/bounty_waiting_state.html
Due: stylelint

Enable sumo marketing popup
  app/dashboard/templates/yge/base.html
Due: none

minor css thing
  app/assets/v2/css/bounty.css
Due: stylelint

fix for sync
  app/dashboard/helpers.py
Due: yapf

refresh quote button
  app/dashboard/templates/bounty_details.html
Due: none

Update VMC to VMC(IOT)
  erc20/0xCC55cf17d21c758E52b87113a7143116e4d9EB10.json
Due: none
