Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -r
  - -e
  - app/**/migrations/
  - app/dataviz/
  - app/app/
  - app/enssubdomain/

shared: updated what_is_gitcoin
  app/assets/v2/css/landing_page.css
  app/retail/templates/shared/what_is_gitcoin.html
Due: stylelint

prod debugging of dupe emails
  app/marketing/mails.py
Due: yapf

Final sentry js adjustments!
  app/app/templates/shared/sentry.html
Due: none

Fix config
  app/app/settings.py
Due: yapf

prod debugging; dupe emails
  app/marketing/mails.py
  app/marketing/management/commands/new_bounties_email.py
Due: yapf

Confirming Auto-translation (#1916)
  app/locale/hi/LC_MESSAGES/django.po
  app/locale/hi/LC_MESSAGES/djangojs.po
Due: none

dupe email fix
  app/marketing/mails.py
Due: yapf

http 404 on hidden prfiles
  app/assets/v2/css/profile.css
  app/dashboard/views.py
Due: stylelint, yapf

Sentry adjustments
  app/app/settings.py
  app/app/templates/shared/sentry.html
Due: yapf

content type for robots.txt
  app/retail/views.py
Due: yapf

fix for https://sentry.gitcoin.co/gitcoin/gitcoin-prod-frontend/issues/278/
  app/dashboard/templates/process_bounty.html
Due: none

Adjust sentry raven JS
  app/app/templates/shared/sentry.html
Due: none

SEO stuff
  app/retail/templates/shared/cards.html
  app/retail/templates/shared/cards_pic.html
Due: none

SEO fixes, linting
  app/assets/v2/css/profile.css
  app/retail/templates/robots.txt
  app/retail/views.py
Due: stylelint, yapf

tip receive is eth
  app/assets/onepager/js/receive.js
Due: eslint

lander video switcharooooooooooooO
  app/retail/templates/about.html
  app/retail/templates/landing/funder.html
  app/retail/templates/shared/what_is_gitcoin.html
Due: none

livestream 8/3 (#1930)
  app/retail/emails.py
Due: yapf

Revert "Adjust sentry raven JS"
  app/app/templates/shared/sentry.html
Due: none

joe dominance was busttedd
  app/retail/utils.py
Due: yapf

Adjust sentry to use split projects
  app/app/context.py
  app/app/settings.py
  app/app/templates/shared/sentry.html
Due: yapf

allow trailing slah for profile (#1931)
  app/app/urls.py
Due: yapf

reverts debug code
  app/marketing/management/commands/new_bounties_email.py
Due: yapf

DAI FAQ section link added
  app/assets/v2/css/landing_page.css
  app/dashboard/notifications.py
  app/retail/views.py
  scripts/crontab
Due: stylelint, yapf

Update LCCN Token
  erc20/0x8F4f3b3c3a900d10e9cf74c30e16f5958d8fD339.json
  images/0x8F4f3b3c3a900d10e9cf74c30e16f5958d8fD339.png
Due: none

Update srrw token
  erc20/0x3c13091de10b99dbea2f0a58f9dabe832953ff87.json
  images/0x3c13091de10b99dbea2f0a58f9dabe832953ff87.png
Due: none

update JOY token descriptive json
  erc20/0xDDe12a12A6f67156e0DA672be05c374e1B0a3e57.json
Due: none

Add (Issue is closed) to the 'View on Github' button if is_issue_closed.
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/helpers.py
  app/dashboard/models.py
  app/economy/management/commands/refresh_bounties.py
  app/retail/views.py
Due: eslint, yapf

what_is_gitcoin : revert to old design
  app/assets/v2/css/landing_page.css
  app/retail/templates/shared/what_is_gitcoin.html
Due: stylelint

Fix isort / travis
  app/retail/views.py
Due: yapf

what_is_gitcoin : revert to old design (#1957)
  app/assets/v2/css/landing_page.css
  app/retail/templates/shared/what_is_gitcoin.html
Due: stylelint

Temporarily remove crispy
  app/app/settings.py
Due: yapf

fix #1921
  app/gas/management/commands/sync_gas_prices.py
Due: yapf

max should be 100
  app/dashboard/router.py
Due: yapf

Add Rinkeby contract address
  app/assets/v2/js/abi.js
  app/kudos/utils.py
Due: eslint, yapf

Revert "Keeping database volume around in development is annoying"
  docker-compose.yml
Due: none

Setup cachealot with redis cache
  app/app/local.env
  app/app/settings.py
  app/app/utils.py
  docker-compose.yml
  requirements/base.txt
Due: yapf

Add raw client method and adjust redis cache globals
  app/app/settings.py
  app/app/utils.py
Due: yapf

Upadte CTH token
  erc20/0x374860915d684b02874a25a8e9bb6c6ef6920827.json
  images/0x374860915d684b02874a25a8e9bb6c6ef6920827.png
Due: none

Update CT token
  erc20/0x4477FB993E8F34605eEB459703e19F54Ae4a7684.json
  images/0x4477FB993E8F34605eEB459703e19F54Ae4a7684.png
Due: none

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
