Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i
  - -r
  - -e
  - app/**/migrations/
  - -e
  - app/app/settings.py
  - -p
  - app/avatar/
  - app/credits/
  - app/dataviz/
  - app/enssubdomain/
  - app/ethos/
  - app/github/

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Update EXTEREUM TOKEN
  erc20/0xd1F1c5Ff90Fb6F3b0D57F5f6AD4AAF7400F4B39b.json
  images/0xd1F1c5Ff90Fb6F3b0D57F5f6AD4AAF7400F4B39b.png
Due: none

Update BETHER token
  erc20/0x14C926F2290044B647e1Bf2072e67B495eff1905.json
  images/0x14C926F2290044B647e1Bf2072e67B495eff1905.png
Due: none

Uplate AUPC icon
  erc20/0x500df47e1df0ef06039218dcf0960253d89d6658.json
  images/0x500df47e1df0ef06039218dcf0960253d89d6658.png
Due: none

avatar: fix masks accessories
  app/assets/v2/images/avatar/Accessories/Masks-jack-o-lantern.svg
  app/assets/v2/js/avatar_builder.js
  app/avatar/utils.py
Due: eslint, yapf

Update ANNA coin
  erc20/0x6e403df62b5e5d2991519fee1768291b1bfeeb8b.json
  images/0x6e403df62b5e5d2991519fee1768291b1bfeeb8b.png
Due: none

lint fixes
  app/avatar/utils.py
Due: yapf

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

删除
  erc20/0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9.json
  images/0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9.png
Due: none

删除
  erc20/desktop.ini
Due: none

添加合约0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9
  erc20/0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9.json
  images/0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9.png
Due: none

1
  erc20/0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9.json
Due: none

2
  erc20/0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9.json
Due: none

Update Aracle information
  erc20/0x4d3DdFEE61326469a1B353920A313F226eA84314.json
  images/0x4d3DdFEE61326469a1B353920A313F226eA84314.png
Due: none

Better layout declaration style ;)
  app/assets/v2/css/dashboard.css
  app/dashboard/templates/dashboard/index.html
Due: stylelint

formatting issue...
  app/dashboard/tests/test_dashboard_utils.py
Due: yapf

bounty-templates - use baseof template in details
  app/dashboard/templates/bounty/details.html
Due: none

create bounty baseof template
  app/dashboard/templates/bounty/baseof.html
Due: none

bounty-templates: change blockname to head
  app/dashboard/templates/bounty/baseof.html
Due: none

bounty-template: change use baseof
  app/dashboard/templates/bounty/change.html
Due: none

bounty-template: extend baseof in othe templates
  app/dashboard/templates/bounty/baseof.html
  app/dashboard/templates/bounty/fulfill.html
  app/dashboard/templates/bounty/increase.html
  app/dashboard/templates/bounty/invoice.html
  app/dashboard/templates/bounty/kill.html
  app/dashboard/templates/bounty/new.html
Due: none

Added tooltip hover on tips page
  app/assets/v2/css/base.css
  app/dashboard/templates/onepager/send2.html
Due: stylelint

fix fulfill not extending baseof
  app/dashboard/templates/bounty/fulfill.html
Due: none

remove repeating code
  app/assets/v2/js/user-search.js
Due: eslint

tip : autocomplete shows payout address
  app/assets/onepager/js/send.js
  app/assets/v2/js/user-search.js
  app/dashboard/templates/onepager/send2.html
Due: eslint

commit again for utm...
  app/assets/v2/js/base.js
  app/dashboard/migrations/0110_useraction_utm.py
  app/dashboard/models.py
  app/dashboard/tests/test_dashboard_utils.py
  app/dashboard/utils.py
Due: eslint, yapf

tip : autocomplete shows payout address (#2372)
  app/assets/onepager/js/send.js
  app/assets/v2/js/user-search.js
  app/dashboard/templates/onepager/send2.html
Due: eslint

refactor: css + markup cleanup
  app/app/urls.py
  app/assets/v2/css/grants/grant.css
  app/grants/templates/grants/index.html
Due: stylelint, yapf

signatures receovering correctly. On plane, need internet to see if transactions submit to the chain. Next to implement approve, then cancel functionality.
  app/assets/v2/js/grants/fund_grant.js
  app/assets/v2/js/grants/new_grant.js
Due: eslint

results page should not destroy my CPU when it first loads... onnly load mesh data if/when needed
  app/dataviz/templates/dataviz/graph.html
  app/retail/templates/results.html
Due: none

adds mesh network gif
  app/assets/v2/images/results/mesh_network.gif
Due: none

number transactions
  app/retail/templates/results.html
  app/retail/utils.py
Due: yapf

pie chart
  app/retail/templates/results.html
  app/retail/utils.py
Due: yapf

Fix bug with new augmented tags
  app/kudos/management/commands/mint_all_kudos.py
Due: yapf

Add block sync as another method
  app/kudos/management/commands/sync_kudos.py
Due: yapf

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
