Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i
  - -r
  - -e
  - app/**/migrations/
  - -e
  - app/app/settings.py
  - -p
  - app/avatar/
  - app/credits/
  - app/dataviz/
  - app/enssubdomain/
  - app/ethos/
  - app/github/

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

grant/new: add image
  app/assets/v2/images/grants/new.svg
  app/grants/templates/grants/new.html
Due: none

Cleanup migrations
  app/inbox/migrations/0001_initial.py
  app/inbox/migrations/0002_remove_notification_username.py
  app/inbox/migrations/0003_auto_20181208_0646.py
  app/inbox/views.py
Due: yapf

adding network option
  app/assets/v2/css/grants/grant.css
  app/assets/v2/js/grants/index.js
  app/grants/templates/grants/index.html
  app/grants/views.py
Due: eslint, stylelint, yapf

add inbox and changes functions names
  app/app/urls.py
  app/assets/v2/css/external_bounties/checkboxes.css
  app/assets/v2/css/gitcoin.css
  app/assets/v2/css/notifications.css
  app/assets/v2/js/notifications.js
  app/dashboard/templates/shared/notifications.html
  app/inbox/templates/inbox.html
  app/inbox/views.py
Due: eslint, stylelint, yapf

url versioning and function name changes
  app/app/urls.py
  app/inbox/views.py
Due: yapf

Lint fixes
  app/inbox/views.py
Due: yapf

#3090 #3108 sitemap changes
  app/app/sitemaps.py
Due: yapf

added missing imports
  app/app/sitemaps.py
Due: yapf

stickler's whitespace rasism fix
  app/app/sitemaps.py
Due: yapf

travis isort fix
  app/app/sitemaps.py
Due: yapf

change url version
  app/app/urls.py
Due: yapf

Added fields to Bounty and BountyFulfillment model for funder last messaged/notified date
  app/dashboard/models.py
Due: yapf

Added URL for notify funder modal's innerHTML
  app/app/urls.py
Due: yapf

Added CSS for notify funder modal
  app/assets/v2/css/bounty.css
Due: stylelint

Add tmplate for funder payment reminder email
  app/dashboard/templates/notifyfunder.html
Due: none

Added funder_last_messaged_on to BountySerializer in router
  app/dashboard/router.py
Due: yapf

Added record_funder_inaction_on_fulfillment action in utils
  app/dashboard/utils.py
Due: yapf

Added the ability to get all PR events regardless of actor
  app/git/utils.py
Due: yapf

Add notifyfunder template to dashboard views
  app/dashboard/views.py
Due: yapf

Added dashboard view for sending notification email
  app/dashboard/views.py
Due: yapf

Added email for template for sending payment reminders
  app/marketing/mails.py
  app/retail/emails.py
Due: yapf

Final changes
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
  app/dashboard/migrations/0110_auto_20181005_1854.py
  app/dashboard/views.py
  app/marketing/mails.py
  app/retail/templates/emails/funder_payout_reminder.html
Due: eslint, yapf

CSS Changes
  app/assets/v2/css/bounty.css
Due: stylelint

Cleanup part II
  app/dashboard/migrations/0111_auto_20181005_1954.py
  app/dashboard/models.py
  app/git/utils.py
  app/marketing/management/commands/sync_pull_request_with_bounty_fulfillments.py
Due: yapf

Added changes to remove comments and console.log per thelostttttttttttttttttttttttttttttttone-mc review
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
Due: eslint

Added changes based on thelostone-mc's review
  app/app/urls.py
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/views.py
  app/marketing/mails.py
  app/marketing/management/commands/sync_pull_request_with_bounty_fulfillments.py
  app/retail/templates/emails/funder_payout_reminder.html
Due: eslint, yapf

Fix isort linting
  app/dashboard/views.py
  app/marketing/management/commands/sync_pull_request_with_bounty_fulfillments.py
Due: yapf

Center the button text and change it to Yes on the Notify Funder modal
  app/assets/v2/css/bounty.css
  app/dashboard/templates/notifyfunder.html
Due: stylelint

Updated to use standard_bounties_id and and network per bounty_details view in the funder notify modal
  app/app/urls.py
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
  app/dashboard/views.py
  app/marketing/mails.py
Due: eslint, yapf

Check if the user is correctly authenticated before fulfilling a HTTP Request in views.py
  app/dashboard/views.py
Due: yapf

Fixed calls to JSONREsponse
  app/dashboard/views.py
Due: yapf

add mark as read
  app/assets/v2/css/mission.css
  app/assets/v2/js/notifications.js
  app/dashboard/templates/shared/notifications.html
Due: eslint, stylelint

Added missing class
  app/retail/templates/shared/nav.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

#3095 squashed grants page
  app/assets/v2/css/grants/grant.css
Due: stylelint

#3143 hardcoded kudos.json path replaced by osPath
  app/kudos/utils.py
Due: yapf

Handled json execptions
  app/inbox/views.py
Due: yapf

Added pagination for notifications
  app/inbox/views.py
Due: yapf

grants/index : wired up search + sort + network
  app/assets/v2/css/grants/grant.css
  app/assets/v2/js/grants/index.js
  app/assets/v2/js/pages/dashboard.js
  app/assets/v2/js/shared.js
  app/grants/templates/grants/index.html
  app/grants/views.py
Due: eslint, stylelint, yapf

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
