Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: ["-i", "-r", "-e", "app/**/migrations/", "-e", "app/app/settings.py", "-p", "app/avatar/", "app/credits/", "app/dataviz/", "app/enssubdomain/", "app/ethos/", "app/github/"]
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

new newsletter
  app/retail/emails.py
Due: yapf

Fix isort build error
  app/retail/emails.py
Due: yapf

Fix isort build error (#2914)
  app/retail/emails.py
Due: yapf

fix alignment
  app/kudos/templates/kudos_details.html
Due: none

remove ETH and add Any Token to token drop downs. Also, ensure that user cant select token if one required by grant creator. Core systems shouldnt be affected, but will test in morning. (#2902)
  app/assets/v2/js/grants/fund_grant.js
  app/assets/v2/js/grants/new.js
  app/grants/models.py
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/new.html
  app/grants/views.py
Due: eslint, yapf

qa changes (#2910)
  app/assets/v2/css/grants/card.css
  app/assets/v2/css/grants/grant.css
  app/assets/v2/images/grants/logos/1.png
  app/assets/v2/images/grants/logos/2.png
  app/assets/v2/images/grants/logos/3.png
  app/assets/v2/images/grants/logos/4.png
  app/dashboard/templates/shared/nav_auth.html
  app/grants/templates/grants/card.html
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/new.html
  app/grants/templatetags/grants_extra.py
  app/retail/templates/emails/grants/new_grant.html
  app/retail/templates/emails/grants/thank_you_for_supporting.html
Due: stylelint, yapf

Update migrations
  app/grants/migrations/0006_auto_20181121_1646.py
Due: yapf

update doc strings
  app/grants/templatetags/grants_extra.py
Due: yapf

Add DRF serializers and base viewsets for grants
  app/app/urls.py
  app/dashboard/views.py
  app/grants/models.py
  app/grants/router.py
  app/grants/serializers.py
Due: yapf

added label
  app/grants/templates/grants/detail.html
Due: none

fix empty tags
  app/assets/v2/css/activity_stream.css
  app/retail/templates/activity.html
Due: stylelint

Update DAILY Token
  erc20/0xbc63f11d42860d7e41a4ce856581f0ce15ac4008.json
  images/0xbc63f11d42860d7e41a4ce856581f0ce15ac4008.png
Due: none

Update ABCH Token
  erc20/0xcc7d26d8ea6281bb363c8448515f2c61f7bc19f0.json
  images/0xcc7d26d8ea6281bb363c8448515f2c61f7bc19f0.png
Due: none

css fixes
  app/assets/v2/css/grants/grant.css
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/fund.html
Due: stylelint

Update HMT Token
  erc20/0x6bA9422e61A81391C707e451dA5ED2F60557A6d5.json
  images/0x6bA9422e61A81391C707e451dA5ED2F60557A6d5.png
Due: none

turkey
  app/assets/v2/images/kudos/turkey.svg
  app/kudos/kudos.yaml
Due: none

fix custom url
  app/retail/templates/shared/cards_pic.html
Due: none

rename grant/fund_grant.js to grant/fund.js
  app/assets/v2/js/grants/fund.js
  app/grants/templates/grants/fund.html
Due: eslint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

add filter by organization
  app/assets/v2/js/pages/dashboard.js
  app/dashboard/router.py
  app/dashboard/templates/dashboard/sidebar_search.html
Due: eslint, yapf

add tooltip
  app/dashboard/templates/dashboard/sidebar_search.html
  app/dashboard/templates/shared/organization_tooltip.html
Due: none

fix image name
  app/dashboard/templates/bounty/invoice.html
Due: none

Update GIT Token
  erc20/0x1d0582fa759e4b9beab4f6f82cc539ac62c49250.json
  images/0x1d0582fa759e4b9beab4f6f82cc539ac62c49250.png
Due: none

Update BFV token
  erc20/0xd2502768fb84b1e543daafcef5ccee39011b6cb4.json
  images/0xd2502768fb84b1e543daafcef5ccee39011b6cb4.png
Due: none

update AIGE Token
  erc20/0xe63C822AEbcb396154FA99448d64f516807e4aD8.json
  images/0xe63C822AEbcb396154FA99448d64f516807e4aD8.png
Due: none

Update OSC LOGO
  erc20/0x60a640e2D10E020fee94217707bfa9543c8b59E0.json
  images/0x60a640e2D10E020fee94217707bfa9543c8b59E0.png
Due: none

Fix #2923 - Adjust handle_worker_approvals to check pending existence
  app/dashboard/views.py
Due: yapf

turkey (#2930)
  app/assets/v2/images/kudos/turkey.svg
  app/kudos/kudos.yaml
Due: none

Fix #2923 - Adjust handle_worker_approvals to check pending existence (#2929)
  app/dashboard/views.py
Due: yapf

fix logic
  app/dashboard/router.py
Due: yapf
