Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: ["-i", "-r", "-e", "app/**/migrations/", "-e", "app/app/settings.py", "-p", "app/avatar/", "app/credits/", "app/dataviz/", "app/enssubdomain/", "app/ethos/", "app/github/"]
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

Fix stickler js comments
  app/assets/v2/js/pages/funder_dashboard.js
Due: eslint

Redirect to homepage if the user is not a funder
  app/assets/v2/js/pages/funder_dashboard.js
  app/dashboard/views.py
Due: eslint, yapf

Revert regression on pagination bounty bug
  app/assets/v2/js/pages/funder_dashboard.js
Due: eslint

Add pagination to outgoing funds
  app/assets/v2/js/pages/funder_dashboard.js
  app/dashboard/templates/funder_dashboard.html
Due: eslint

remove unneeded html tag
  app/assets/v2/css/gitcoin.css
  app/retail/templates/landing/contributor/hero.html
  app/retail/templates/shared/hero.html
Due: stylelint

svg: fixed no-issue image
  app/assets/v2/images/bounty/no_issue.svg
Due: none

css: fixes
  app/assets/v2/css/base.css
  app/assets/v2/css/buttons.css
  app/assets/v2/css/gitcoin.css
  app/assets/v2/css/landing_page.css
  app/dashboard/templates/bounty/fulfill.html
  app/dashboard/templates/bounty/increase.html
  app/dashboard/templates/bounty/kill.html
  app/dashboard/templates/bounty/new.html
  app/dashboard/templates/bulk_payout_bounty.html
  app/dashboard/templates/process_bounty.html
  app/retail/templates/about.html
Due: stylelint

Update existing cache usage to use cacheops and catch missed exceptions
  app/app/settings.py
  app/app/utils.py
  app/dashboard/gas_views.py
  app/dashboard/views.py
  app/retail/utils.py
  requirements/base.txt
Due: yapf

new subject
  app/marketing/mails.py
Due: yapf

Update travis config for redis
  .travis.yml
  app/app/travis.env
Due: none

infura timesouts after 1 sec
  app/dashboard/utils.py
Due: yapf

Fix #2031 - Check value_in_usdt is not NoneType
  app/retail/utils.py
Due: yapf

Add circleci base config
  .circleci/config.yml
Due: none

code clean up
  app/dashboard/templates/dashboard/index.html
  app/retail/templates/shared/footer.html
  app/retail/templates/shared/result.html
Due: none

code clean up (#2033)
  app/dashboard/templates/dashboard/index.html
  app/retail/templates/shared/footer.html
  app/retail/templates/shared/result.html
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update circle
  .circleci/config.yml
Due: none

Update circleci config
  .circleci/config.yml
Due: none

Update circleci config for redis
  .circleci/config.yml
Due: none

Specify caching for get_activity
  app/retail/views.py
Due: yapf

Fix #2034 - select_related bounty in get_activity to speedup queries
  app/retail/views.py
Due: yapf

resolves https://sentry.gitcoin.co/gitcoin/gitcoin-prod-backend/issues/577/?referrer=slack
  app/retail/utils.py
Due: yapf

Revert "Specify caching for get_activity"
  app/retail/views.py
Due: yapf

Add activity caching
  app/retail/views.py
Due: yapf

makes the 'new bounty alert' email much more compact and more respectful of the users space in their inbox http://bits.owocki.com/1b2N3z2G1s2f/Screen%20Shot%202018-08-20%20at%2012.59.01%20PM.png
  app/retail/templates/emails/bounty.html
  app/retail/templates/emails/bounty_small.html
  app/retail/templates/emails/new_bounty.html
  app/retail/templates/emails/shared_bounty_actions.html
Due: none

add alisa to funder feedback list
  app/marketing/mails.py
Due: yapf

Update activity cache policy
  app/app/settings.py
Due: yapf

new leaderboard items
  app/marketing/management/commands/assemble_leaderboards.py
  app/marketing/models.py
  app/marketing/views.py
  app/retail/templates/leaderboard.html
Due: yapf

flaotformat
  app/retail/templates/leaderboard.html
Due: none

funder address, not funded address
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

set acceptance date when auto accepted
  app/marketing/management/commands/pending_start_work_actions.py
Due: yapf

Adds fund branding organisation information with a bounty
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/helpers.py
  app/dashboard/migrations/0106_auto_20180820_2113.py
  app/dashboard/models.py
  app/dashboard/notifications.py
  app/dashboard/router.py
  app/dashboard/templates/bounty/new.html
  app/dashboard/views.py
Due: eslint, yapf

makes stickler happy
  app/dashboard/notifications.py
Due: yapf

typo
  app/retail/templates/emails/bounty.html
Due: none

fix for https://gitcoincore.slack.com/archives/CAXQ7PT60/p1534798775000100
  app/assets/v2/js/pages/wallet_estimate.js
Due: eslint

paid user list
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/admin.py
  app/dashboard/models.py
  app/dashboard/router.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/tip_views.py
  docs/API.md
Due: eslint, yapf

linter
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

bugfix
  app/dashboard/notifications.py
Due: yapf

make fix
  app/dashboard/models.py
  app/dashboard/notifications.py
  app/dashboard/tests/test_notifications.py
Due: yapf
