Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: ["-i", "-r", "-e", "app/**/migrations/", "-e", "app/app/settings.py", "-p", "app/avatar/", "app/credits/", "app/dataviz/", "app/enssubdomain/", "app/ethos/", "app/github/"]
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

ethu
  erc20/0x6b92D76C9D0D40E53019fFa51b6f0c9B6bc657c9.json
  images/0x6b92D76C9D0D40E53019fFa51b6f0c9B6bc657c9.png
Due: none

ethu
  erc20/0x6b92D76C9D0D40E53019fFa51b6f0c9B6bc657c9.json
Due: none

Adjust funder dashboard to be visible regardless of profile type
  app/dashboard/views.py
Due: yapf

Use preferred_payout_address instead of kudos wallets
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/profile_kudos.html
  app/dashboard/views.py
  app/kudos/helpers.py
  app/kudos/models.py
  app/kudos/views.py
Due: yapf

navbar: fix tablet friendly
  app/assets/v2/css/gitcoin.css
  app/retail/templates/shared/nav.html
Due: stylelint

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Add sync for gen0 kudos in KudosContract.sync_db function
  app/kudos/utils.py
Due: yapf

Update Ropsten address for Kudos Contract
  app/assets/v2/js/abi.js
  app/kudos/utils.py
Due: eslint, yapf

update model name
  app/app/context.py
Due: yapf

Update fresh_start to take a network name as $1
  fresh_start.sh
Due: none

kudos_receive is a WIP
  app/assets/v2/js/pages/kudos_receive.js
Due: eslint

Change default shell to bash for fresh_start.sh
  fresh_start.sh
Due: none

Adjust pipeline to work with ES6, minify, compress.
  Dockerfile
  app/app/dj_pipeline_settings.py
  app/app/settings.py
  app/assets/v2/js/pages/process_faucet.js
  app/ethos/templates/redeem_ethos.html
  app/external_bounties/templates/external_bounties.html
  app/external_bounties/templates/external_bounties_new.html
  app/external_bounties/templates/external_bounties_show.html
  app/faucet/templates/faucet_form.html
  app/retail/templates/shared/footer_scripts.html
  package-lock.json
  package.json
Due: eslint, yapf

Add account to mint_all_kudos options
  app/kudos/management/commands/mint_all_kudos.py
Due: yapf

Add account and private_key options for fresh_start script
  fresh_start.sh
Due: none

Add gas_estimate for raw transaction build
  app/kudos/utils.py
  fresh_start.sh
Due: yapf

Add some robustness to mint_all_kudos and sync_db
  app/kudos/management/commands/mint_all_kudos.py
  app/kudos/utils.py
Due: yapf

FIx bug in send_4 views
  app/kudos/views.py
Due: yapf

Add --account and --private_key options for sync_kudos_listener
  app/kudos/management/commands/sync_kudos_listener.py
Due: yapf

Adjust gitcoinbot response checks to eliminate len and redundent else case
  app/gitcoinbot/actions.py
  app/gitcoinbot/views.py
Due: yapf

Add ISC
  erc20/0xe6b5201aca93523908bef1692bb1929f65a466f2.json
  images/0xe6b5201aca93523908bef1692bb1929f65a466f2.png
Due: none

Add ISC
  erc20/0xe6b5201aca93523908bef1692bb1929f65a466f2.json
Due: none

Update STNT token
  erc20/0x2557fdea2da114a8ba82da4f8c48c12b7cf38980.json
  images/0x2557fdea2da114a8ba82da4f8c48c12b7cf38980.png
Due: none

Update bct token
  erc20/0x6f55acadbaf84500777b9cf48f2c6Ef4eADb9AeF.json
  images/0x6f55acadbaf84500777b9cf48f2c6Ef4eADb9AeF.png
Due: none

update ISC overview
  erc20/0xe6b5201aca93523908bef1692bb1929f65a466f2.json
Due: none

Update CyberChain Token
  erc20/0x17e16D30a05324B44CF78Df847137Fa1220448f8.json
  images/0x17e16d30a05324b44cf78df847137fa1220448f8.png
Due: none

Update FUTURAX Token
  erc20/0x41875c2332b0877cdfaa699b641402b7d4642c32.json
  images/0x41875c2332b0877cdfaa699b641402b7d4642c32.png
Due: none

Upadte BTU Token
  erc20/0xb683D83a532e2Cb7DFa5275eED3698436371cc9f.json
  images/0xb683D83a532e2Cb7DFa5275eED3698436371cc9f.png
Due: none

Update FBC Token
  erc20/0x7c5bec2c6c006d488549edfa141bcd5c38098964.json
  images/0x7c5bec2c6c006d488549edfa141bcd5c38098964.png
Due: none

Rename image file
  images/0x0408d7ed44de8d93a2510caef3db4ac7a4a1dfec.png
  images/0x0bc61dded5f6710c637cf8288eb6058766ce1921.png
  images/0x0f8c45b896784a1e408526b9300519ef8660209c.png
  images/0x157074c3edb43ec1025c318f21d0e4051199b5f5.png
  images/0x17e16D30a05324B44CF78Df847137Fa1220448f8.png
  images/0x2bdbf15d055899a767f5459a151bed15fb8fd2f6.png
  images/0x3c0cac8290e2a6241814f812259278bea9050838.png
  images/0x420a43153da24b9e2aedcec2b8158a8653a3317e.png
  images/0x48bd67ad140c9d10f94099c1cef7ab17d90ac335.png
  images/0x491c9a23db85623eed455a8efdd6aba9b911c5df.png
  images/0x500565E098d98A273224eC8Fb33d98dC8946F8B9.png
  images/0x5c64031c62061865e5fd0f53d3cdaef80f72e99d.png
  images/0x72a8E0272fdf57F26588DFCA90082f01D51Cb29A.png
  images/0x76cb396Be0f76DbC58A8eB0569B7163Bf02d5555.png
  images/0x79fF677aF16e0e173C55ae571E5d9852A1c8f2Ff.png
  images/0x85e076361cc813A908Ff672F9BAd1541474402b2.png
  images/0x9216707c81438d9593c4e215bcbb0e7bb10d07f5.png
  images/0x9c2181aa2c44de288ba136884f5f194fcff8391a.png
  images/0xF832484f0c9f6b7Cd5c945488899035467508A5D.png
  images/0xaad54c9f27b876d2538455dda69207279ff673a5.png
  images/0xd2C6738D45b090ec05210fE8DCeEF4D8fc392892.png
  images/0xd51e852630DeBC24E9e1041a03d80A0107F8Ef0C.png
  images/0xe884cc2795b9c45beeac0607da9539fd571ccf85.png
  images/0xf947b0824c3995787efc899017a36bc9f281265e.png
Due: none

Update check
  test/index.js
Due: eslint

add wallet & ajax render
  app/app/urls.py
  app/assets/v2/js/ajax-helper.js
  app/assets/v2/js/truncate-hash.js
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/profile_kudos.html
  app/dashboard/views.py
  app/kudos/views.py
  app/retail/templates/shared/footer_scripts.html
Due: eslint, yapf

bot: updated approve/reject ordered list
  app/dashboard/notifications.py
Due: yapf
