Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.3'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: [-r, -e, "app/**/migrations/", app/dataviz/, app/app/, app/enssubdomain/]

+ token: PIET (#872)
  erc20/0xaD1741e65cc2a5da47cA6a844E2774bd08c3DB14.json
  images/0xaD1741e65cc2a5da47cA6a844E2774bd08c3DB14.png
Due: none

IOL的LOGO申请 (#876)
  erc20/0x62a7f298fcc43d23359307cc7c7db8f5afa80992.json
  images/0x62a7f298fcc43d23359307cc7c7db8f5afa80992.png
Due: none

Submit token profile of Elysian's ELY token (#884)
  erc20/0xa95592DCFfA3C080B4B40E459c5f5692F67DB7F8.json
  images/0xa95592DCFfA3C080B4B40E459c5f5692F67DB7F8.png
Due: none

Add NET token (#902)
  erc20/0x4ac6fba17a3961A792E63b5E2d4983C66b79d2Da.json
  images/0x4ac6fba17a3961A792E63b5E2d4983C66b79d2Da.png
Due: none

Add SEDA Token (#904)
  erc20/0xf2a7C7f3932EfCc2ECB6b2C372B84030dE191dB0.json
  images/0xf2a7C7f3932EfCc2ECB6b2C372B84030dE191dB0.png
Due: none

Update for linting/general changes
  app/dashboard/management/commands/send_tips_for_bounty_fulfiller.py
  app/dashboard/models.py
  app/dashboard/notifications.py
  app/dashboard/templates/increase_bounty.html
Due: yapf

sunday funday
  app/assets/v2/js/pages/shared_bounty_mutation_estimate_gas.js
  app/dashboard/templates/shared/gas_nav.html
  app/dashboard/templates/shared/onepager_auth.html
  app/gas/management/commands/output_gas_viz.py
  app/retail/templates/gas.html
Due: eslint, yapf

sunday funday
  app/assets/v2/js/pages/shared_bounty_mutation_estimate_gas.js
Due: eslint

make conf time calculator tool more readable
  app/retail/templates/gas_calculator.html
Due: none

small fixes for multi party payout form
  app/assets/v2/js/pages/bulk_payout.js
  app/dashboard/templates/payout_bounty.html
  app/dashboard/templates/shared/no_issue_error.html
Due: eslint

Fix python url tests
  app/app/urls.py
Due: yapf

gas faq copy
  app/retail/templates/gas_faq.html
Due: none

auto gas prices
  app/assets/v2/js/pages/new_bounty.js
  app/assets/v2/js/pages/shared_bounty_mutation_estimate_gas.js
Due: eslint

general small fixes
  app/assets/v2/css/vision.css
  app/retail/templates/mission.html
Due: stylelint

payout make fix
  app/assets/v2/js/pages/bulk_payout.js
Due: eslint

code review
  Dockerfile
  app/gas/management/commands/output_gas_viz.py
  app/retail/templates/gas.html
Due: yapf

small changes
  app/gas/management/commands/output_gas_viz.py
Due: yapf

gas page template
  app/dashboard/gas_views.py
  app/retail/templates/gas.html
Due: yapf

removed the hiding of searchbar on small screens. made width and margins smaller to accomodate this
  app/assets/v2/css/base.css
  app/assets/v2/css/jquery-ui.css
  app/assets/v2/css/search_bar.css
Due: stylelint

API call for outgoing funds
  app/assets/v2/css/funder_dashboard.css
  app/assets/v2/js/pages/funder_dashboard.js
  app/dashboard/templates/funder_dashboard.html
  app/dashboard/views.py
Due: eslint, stylelint, yapf

make fix stuff
  app/assets/v2/js/pages/bulk_payout.js
  app/gas/management/commands/output_gas_viz.py
Due: eslint, yapf

Write post for all bounties, remove endpoints
  app/app/urls.py
  app/assets/v2/js/pages/funder_dashboard.js
  app/dashboard/templates/funder_dashboard.html
  app/dashboard/views.py
Due: eslint, yapf

Don't use strings for dummy data number values
  app/dashboard/views.py
Due: yapf

broken chart
  app/assets/v2/js/pages/gas.js
  app/retail/templates/gas.html
Due: eslint

Update Profile.is_funder
  app/dashboard/models.py
Due: yapf

typo schmypo
  app/gas/management/commands/output_gas_viz.py
Due: yapf

activty feed on tool page
  app/assets/v2/images/tools/activity.png
  app/retail/templates/shared/footer.html
Due: none

never delete gas profiles with min lt 10
  app/dashboard/management/commands/cleanup_db_space.py
Due: yapf

Modify GSG contract address
  erc20/0x0a13c213d5148ccae7517c5d0ecfbaa18199e739.json
  images/0x0a13c213d5148ccae7517c5d0ecfbaa18199e739.png
Due: none

Add BVB Token new file: erc20/0xf083f40599741bc576173b492268972ce661e5ec.json new file: images/0xf083f40599741bc576173b492268972ce661e5ec.png
  erc20/0xf083f40599741bc576173b492268972ce661e5ec.json
  images/0xf083f40599741bc576173b492268972ce661e5ec.png
Due: none

Update 0xf083f40599741bc576173b492268972ce661e5ec.json
  erc20/0xf083f40599741bc576173b492268972ce661e5ec.json
Due: none

bounty: css refactor + fix
  app/assets/v2/css/bounty.css
  app/assets/v2/js/pages/bounty_details.js
Due: eslint, stylelint

city代币信息提交
  erc20/0x08a2246DCB48DB6a5a9e1F6bC082752FCEDdD106.json
  images/0x08a2246DCB48DB6a5a9e1F6bC082752FCEDdD106.png
Due: none

a
  erc20/0xfaaf0Ecfb3246902de6A2C77c5B114DA555695A3.json
Due: none

为保护投资人权益，现需要将旧合约移除并上传新合约进行替换
  erc20/0x5F33d158CA7275848F70A3f149b421190DF85B32.json
  images/0x4375380D11a0A8971F053aebA0629a61392Ec0e7.png
  images/0x5F33d158CA7275848F70A3f149b421190DF85B32.png
Due: none

Fix the buildzzzz
  app/assets/v2/js/pages/gas.js
Due: eslint

fixed linter errors. renamed local var in for loop to j
  app/assets/v2/js/pages/bulk_payout.js
Due: eslint

v small update
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Fix build
  app/assets/v2/js/pages/bounty_details.js
Due: eslint
