Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i
  - -r
  - -e
  - app/**/migrations/
  - -e
  - app/app/settings.py
  - -p
  - app/avatar/
  - app/credits/
  - app/dataviz/
  - app/enssubdomain/
  - app/ethos/
  - app/github/

stickler
  app/dashboard/views.py
Due: yapf

Stickler
  app/dashboard/helpers.py
Due: yapf

Stickler for variable shadowing
  app/dashboard/helpers.py
Due: yapf

Fix issues with to_funder_dashboard_bounty
  app/dashboard/helpers.py
Due: yapf

Update contributors doc to include python resources
  docs/CONTRIBUTING.md
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  mk_contributors/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

toolbar updates
  app/retail/templates/shared/bottom_notification.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Set up showdown to parse links
  app/assets/v2/js/pages/bounty_details.js
Due: eslint

Update MOVE token
  erc20/0x31334030cc59d0c879925a07b3028ab4eaea89a1.json
  images/0x31334030cc59d0c879925a07b3028ab4eaea89a1.png
Due: none

Upadte hotchat Token
  erc20/0xEa2c56E5718843b9d946673920B58E594A7Fb3f6.json
  images/0xEa2c56E5718843b9d946673920B58E594A7Fb3f6.png
Due: none

Upadte AMT Token
  erc20/0xe235b2a194c9cbf8e32167c398d929a6057877d8.json
  images/0xe235b2a194c9cbf8e32167c398d929a6057877d8.png
Due: none

Upadte Linkey Token
  Linkey资料完善
Due: none

Update ATC Token
  erc20/0xfbfb153343f9f8330a2777c2b0da5216e5b5626d.json
  images/0xfbfb153343f9f8330a2777c2b0da5216e5b5626d.png
Due: none

Update SHOW Token
  erc20/0xF41861F194e7Ba8dE95144a89E0C6ed16EE0B3A0.json
  images/0xF41861F194e7Ba8dE95144a89E0C6ed16EE0B3A0.png
Due: none

add pagination
  app/app/urls.py
  app/assets/v2/css/kudos/styles.css
  app/assets/v2/css/kudos/styles.css.map
  app/assets/v2/css/kudos/styles.scss
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/profile_kudos.html
  app/dashboard/views.py
  app/kudos/templates/kudos_details.html
  app/kudos/templates/shared/kudos_card_profile.html
  app/kudos/templatetags/kudos_extras.py
Due: stylelint, yapf

update CMT logo (#2351)
  images/0xf85fEea2FdD81d51177F6b8F35F0e6734Ce45F5F.png
Due: none

Update silk token
  erc20/0xc35b238546a6b02b2d2bd996ecdae322f9f8120b.json
  images/0xc35b238546a6b02b2d2bd996ecdae322f9f8120b.png
Due: none

Fix migration merge conflicts
  app/dashboard/migrations/0108_auto_20180914_0705.py
Due: yapf

Update BOC Token
  erc20/0x4b317864a05c91225ab8f401ec7be0aeb87e9c12.json
  images/0x4b317864a05c91225ab8f401ec7be0aeb87e9c12.png
Due: none

Update BMX token
  erc20/0x986ee2b944c42d017f52af21c4c69b84dbea35d8.json
  images/0x986ee2b944c42d017f52af21c4c69b84dbea35d8.png
Due: none

Revert "Upadte Linkey Token"
  Linkey资料完善
Due: none

update HLC
  erc20/0x58c69ed6cd6887c0225d1fccecc055127843c69b.json
Due: none

update bdb3 logo (#2361)
  images/0xd8062c267dd196b5e500a99ead7f50592f323e51.png
Due: none

Update WEBIC Token
  erc20/0xfA50cCDfaE82d2Fb8e10DC140678106E6755fEe0.json
  images/0xfA50cCDfaE82d2Fb8e10DC140678106E6755fEe0.png
Due: none

update ISC Token
  erc20/0xe6b5201aca93523908bef1692bb1929f65a466f2.json
  images/0xe6b5201aca93523908bef1692bb1929f65a466f2.png
Due: none

Adjust robots.txt view and template to dynamically add profiles that are hidden to disallow and add profile qs
  app/dashboard/models.py
  app/retail/templates/robots.txt
  app/retail/views.py
Due: yapf

Adjust modified templates with canonical refs to use url template func
  app/external_bounties/templates/external_bounties_show.html
  app/retail/templates/activity.html
  app/retail/templates/robots.txt
Due: none

hero: updated text + resize + restructure
  app/retail/templates/index.html
  app/retail/templates/landing/contributor/hero.html
  app/retail/templates/landing/funder.html
  app/retail/templates/landing/funder/hero.html
  app/retail/templates/ui_inventory.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  dashboard/models/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Pin sendgrid and update psycopg2 to use -binary and pin
  requirements/base.txt
Due: none

pydocmd: added styleguide
  app/assets/v2/css/jquery-ui.css
  docs/README.md
  docs/STYLEGUIDE.md
  pydocmd.yml
Due: stylelint

monetary policy
  docs/CONTRIBUTING.md
Due: none

readme: updated list numbering
  docs/CONTRIBUTING.md
Due: none

proposed gitcoin contribution monetary policy (#2221)
  docs/CONTRIBUTING.md
Due: none

Roundup email 14SEP2018
  app/retail/emails.py
Due: yapf

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
