Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.3'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: [-r, -e, "app/**/migrations/", app/dataviz/, app/app/, app/enssubdomain/]

Remove temporarily
  app/dashboard/router.py
Due: yapf

Disable url dict
  app/dashboard/helpers.py
  app/dashboard/models.py
Due: yapf

Disable GH funcs
  app/dashboard/models.py
  app/dashboard/router.py
Due: yapf

Display project length in issue details page
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/bounty_details.html
Due: eslint

Fix GH token usage
  app/git/utils.py
Due: yapf

translation tags and clarification on lcoalhost
  app/retail/templates/settings/tokens.html
Due: none

facebook verify
  app/app/urls.py
  app/retail/views.py
Due: yapf

facebook verify
  app/dashboard/templates/facebook_verify.html
Due: none

Revert "facebook verify"
  app/dashboard/templates/facebook_verify.html
Due: none

Revert "facebook verify"
  app/app/urls.py
  app/retail/views.py
Due: yapf

Adjust saving of gh issue details
  app/app/settings.py
  app/dashboard/helpers.py
  app/dashboard/models.py
  app/dashboard/signals.py
Due: yapf

sync geth stopgap fix
  app/dashboard/management/commands/sync_geth.py
  scripts/crontab
Due: yapf

Adjust default limit on bounty router
  app/dashboard/router.py
Due: yapf

Revert "Adjust default limit on bounty router"
  app/dashboard/router.py
Due: yapf

stopgap fix
  app/dashboard/management/commands/sync_geth.py
Due: yapf

fixes
  app/app/urls.py
  app/assets/v2/images/no-token/microscope.svg
  app/assets/v2/images/no-token/no-token.svg
  app/retail/templates/not_a_token.html
Due: yapf

runs make fix on master branhc
  app/app/settings.py
  app/app/sitemaps.py
  app/app/urls.py
Due: yapf

sync mail fix to make it less aggressive
  app/marketing/management/commands/sync_mail.py
Due: yapf

Adjust yapf to no longer touch settings.py
  Makefile
  app/app/settings.py
Due: yapf

Update precommit yapf config
  .pre-commit-config.yaml
Due: none

fix for sync_listener
  app/dashboard/management/commands/sync_listener.py
Due: yapf

linting sync_geth
  app/dashboard/management/commands/sync_geth.py
Due: yapf

sets the bounties limit to 20 if not specified
  app/dashboard/router.py
Due: yapf

copy updates
  app/retail/templates/not_a_token.html
  app/retail/templates/shared/nav.html
Due: none

merge migration
  app/dashboard/migrations/0103_merge_20180802_1803.py
  app/dashboard/migrations/0104_auto_20180802_1804.py
Due: yapf

Adjust gh state checks
  app/dashboard/models.py
  app/dashboard/router.py
Due: yapf

Update gh state
  app/dashboard/models.py
Due: yapf

Updates to gh pulling...
  app/dashboard/models.py
Due: yapf

GH Pulling adjustments
  app/git/utils.py
Due: yapf

meta tags
  app/retail/views.py
Due: yapf

title
  app/retail/views.py
Due: yapf

Update to_dict to use model_to_dict form helper
  app/dashboard/helpers.py
Due: yapf

Fix import - whoops
  app/dashboard/helpers.py
Due: yapf

Adjust to dict handling via supermodel method
  app/dashboard/helpers.py
  app/dashboard/models.py
  app/economy/models.py
Due: yapf

no ico life
  app/retail/templates/not_a_token.html
Due: none

Cleanup and added a static prefix for testing
  app/dashboard/notifications.py
  app/dashboard/templates/github_comments/accept_work.md
  app/dashboard/templates/github_comments/issue_opened.md
  app/dashboard/templates/github_comments/issue_opened_marketing_footer.md
  app/dashboard/templates/github_comments/start_work.md
  app/dashboard/templates/github_comments/stop_work.md
  app/dashboard/templates/github_comments/submit_work.md
Due: yapf

conflicts
  app/dashboard/templates/onepager/send2.html
Due: none

Remove unused import
  app/dashboard/views.py
Due: yapf

Fix None addition in get_payout_history
  app/dashboard/helpers.py
Due: yapf

fix for https://gitcoincore.slack.com/archives/CC24APWGN/p1533245102000397
  app/git/utils.py
Due: yapf
