Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i
  - -r
  - -e
  - app/**/migrations/
  - -e
  - app/app/settings.py
  - -p
  - app/avatar/
  - app/credits/
  - app/dataviz/
  - app/enssubdomain/
  - app/ethos/
  - app/github/

Adjust func_name method to use sys.get_frame to retrieve calling method name vs current
  app/app/utils.py
  app/marketing/mails.py
Due: yapf

Add func_name test
  app/app/tests/test_app_utils.py
Due: yapf

Move func_name to marketing.utils
  app/app/tests/test_app_utils.py
  app/marketing/mails.py
  app/marketing/tests/test_marketing_utils.py
  app/marketing/utils.py
Due: yapf

remove dupe func_name methods
  app/app/utils.py
Due: yapf

Recreate migration to avoid conflicts/merge migration
  app/dashboard/migrations/0107_auto_20180912_1703.py
  app/marketing/migrations/0034_emailevent_category.py
Due: yapf

Missing import
  app/marketing/utils.py
Due: yapf

change card style
  app/assets/v2/css/kudos/styles.css
  app/assets/v2/css/kudos/styles.css.map
  app/assets/v2/css/kudos/styles.scss
  app/dashboard/templates/shared/profile_kudos.html
Due: stylelint

fixed cookie banner rendering in iOS devices
  app/assets/cookielaw/css/cookielaw.css
  app/retail/templates/cookielaw/banner.html
Due: stylelint

changes requested
  app/assets/cookielaw/css/cookielaw.css
  app/retail/templates/cookielaw/banner.html
Due: stylelint

admin stuff for kudos
  app/kudos/admin.py
  app/kudos/models.py
Due: yapf

Many improvements to the kudos utils.py
  app/kudos/management/commands/mint_all_kudos.py
  app/kudos/management/commands/sync_kudos_listener.py
  app/kudos/utils.py
Due: yapf

Kudos abi update
  app/assets/v2/js/abi.js
  app/kudos/Kudos.json
Due: eslint

Misc updates
  app/dashboard/views.py
  fresh_start.sh
Due: yapf

Clone kudos using the actual price
  app/assets/v2/js/pages/kudos_send.js
  app/kudos/templates/transaction/send.html
Due: eslint

update OMC token profile (#2333)
  erc20/0x42786614c086eA4228FecE4FcAd4885176DC981c.json
  images/0x42786614c086eA4228FecE4FcAd4885176DC981c.png
Due: none

Update QUTT Token
  erc20/0xe731e202063efa51d9d53cc0f1a607a637387438.json
  images/0xe731e202063efa51d9d53cc0f1a607a637387438.png
Due: none

Update TSR Token
  erc20/0x58959E0C71080434f237bD42d07Cd84B74CeF438.json
  images/0x58959E0C71080434f237bD42d07Cd84B74CeF438.png
Due: none

css: cookie button refactor
  app/retail/templates/cookielaw/banner.html
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  sitemap.xml.gz
Due: none

Bounty Request: Fix last commit
  app/assets/v2/js/pages/bounty_request_form.js
Due: eslint

Increase Funding Limit Request Form
  app/app/urls.py
  app/assets/v2/js/pages/increase_funding_limit_request_form.js
  app/dashboard/tip_views.py
  app/marketing/mails.py
  app/retail/forms.py
  app/retail/templates/increase_funding_limit_request_form.html
  app/retail/views.py
Due: eslint, yapf

Increase Funding Limit Request Form: lint
  app/assets/v2/js/pages/increase_funding_limit_request_form.js
  app/dashboard/tip_views.py
Due: eslint, yapf

Add add/remove IP from SG scripts
  ops/scripts/add_ip.bash
  ops/scripts/remove_ip.bash
Due: none

Adjust json handling for revoke ingress
  ops/scripts/add_ip.bash
  ops/scripts/remove_ip.bash
Due: none

Address mark's PR comments
  app/app/tests/test_app_urls.py
  app/dashboard/helpers.py
  app/dashboard/models.py
  app/dashboard/templates/funder_dashboard.html
  app/dashboard/views.py
  app/economy/utils.py
Due: yapf

Remove dead code from remove_ip
  ops/scripts/remove_ip.bash
Due: none

Fix imports
  app/marketing/mails.py
Due: yapf

Pin all pypi test.txt reqs
  requirements/test.txt
Due: none

sendgrid categories (#2148)
  app/dashboard/management/commands/activity_report.py
  app/dashboard/migrations/0107_auto_20180912_1703.py
  app/marketing/mails.py
  app/marketing/management/commands/test_email.py
  app/marketing/migrations/0034_emailevent_category.py
  app/marketing/models.py
  app/marketing/tests/test_marketing_utils.py
  app/marketing/utils.py
  app/marketing/webhookviews.py
  app/tdi/views.py
Due: yapf

Deploy docs.gitcoin.co to github.com/gitcoinco/web.git:gh-pages
  marketing/mails/index.html
  marketing/models/index.html
  marketing/utils/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Increase Funding Limit Request Form: lint
  app/dashboard/tip_views.py
Due: yapf

Remove avatar view test and fix indentation throughout new tests
  app/dashboard/tests/test_dashboard_embed.py
  app/dashboard/tests/test_dashboard_models.py
Due: yapf

Resolve travis failures
  app/dashboard/tests/test_dashboard_embed.py
  app/dashboard/tests/test_dashboard_models.py
Due: yapf

Remove some tests we shouldn't be performing
  app/dashboard/tests/test_dashboard_utils.py
Due: yapf

DRY up the payout history chart, update bounty mapping to dict
  app/assets/v2/js/pages/funder_dashboard.js
  app/dashboard/helpers.py
Due: eslint, yapf

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
