Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: eslint
    name: eslint
    language: system
    entry: sh -c 'npm run eslint:fix'
    files: .js$
- repo: local
  hooks:
  - id: stylelint
    name: stylelint
    language: system
    entry: sh -c 'npm run stylelint:fix'
    files: .css$
- repo: local
  hooks:
  - id: yapf
    name: yapf
    language: python
    entry: yapf
    files: \.py$
    args: ["-i", "-r", "-e", "app/**/migrations/", "-e", "app/app/settings.py", "-p", "app/avatar/", "app/credits/", "app/dataviz/", "app/enssubdomain/", "app/ethos/", "app/github/"]
- repo: git://github.com/pre-commit/mirrors-isort
  sha: 'v4.3.4'
  hooks:
  - id: isort
    args:
      - --recursive
      - --settings-path
      - ./setup.cfg
      - .

fix code stickler-ci
  app/assets/v2/js/user-search.js
  app/dashboard/views.py
Due: eslint, yapf

Remove whitespace
  js-sdk/.gitignore
Due: none

Keep the kudos updates comin
  app/assets/v2/images/kudos/django_pony.svg
  app/assets/v2/images/kudos/eth_hacker2.svg
  app/kudos/kudos.yaml
Due: none

code review
  app/marketing/management/commands/assemble_leaderboards.py
  app/marketing/views.py
Due: yapf

test fix
  app/marketing/tests/management/commands/test_assemble_leaderboards.py
Due: yapf

Add ability to add total budget
  app/app/urls.py
  app/assets/v2/css/funder_dashboard.css
  app/assets/v2/js/pages/funder_dashboard.js
  app/dashboard/migrations/0106_auto_20180827_1455.py
  app/dashboard/migrations/0107_profile_funder_total_budget_type.py
  app/dashboard/migrations/0108_profile_funder_total_budget_updated_on.py
  app/dashboard/models.py
  app/dashboard/templates/funder_dashboard.html
  app/dashboard/views.py
Due: eslint, stylelint, yapf

Stickler comments
  app/assets/v2/js/pages/funder_dashboard.js
  app/dashboard/models.py
  app/dashboard/views.py
Due: eslint, yapf

is_user_based
  app/marketing/models.py
Due: yapf

is user based
  app/marketing/models.py
Due: yapf

fixes scatterplot
  app/dataviz/templates/dataviz/scatterplot.html
Due: none

invocie tempalte
  app/dashboard/templates/bounty/invoice.html
Due: none

Adjust avatar URLs, fix activity avatar ref, and resolve profile syncing if none issue
  app/app/settings.py
  app/assets/v2/js/pages/bounty_details.js
  app/avatar/views.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/profiles/organization.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/templates/shared/onepager_auth.html
  app/dashboard/views.py
  app/dataviz/d3_views.py
  app/marketing/models.py
  app/retail/templates/emails/bounty_roundup.html
  app/retail/templates/emails/new_match.html
  app/retail/templates/results.html
  app/retail/templates/settings/account.html
  app/retail/templates/shared/activity.html
Due: eslint, yapf

Revert "Adjust avatar URLs, fix activity avatar ref, and resolve profile syncing if none issue"
  app/app/settings.py
  app/assets/v2/js/pages/bounty_details.js
  app/avatar/views.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/profiles/organization.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/templates/shared/onepager_auth.html
  app/dashboard/views.py
  app/dataviz/d3_views.py
  app/marketing/models.py
  app/retail/templates/emails/bounty_roundup.html
  app/retail/templates/emails/new_match.html
  app/retail/templates/results.html
  app/retail/templates/settings/account.html
  app/retail/templates/shared/activity.html
Due: eslint, yapf

refactor: clean up
  app/assets/v2/js/pages/dashboard.js
  app/dashboard/templates/shared/sidebar_search.html
Due: eslint

Adjust profile view to resolve no associated profile on user
  app/app/settings.py
  app/dashboard/views.py
Due: yapf

dashboard: display active filters on url
  app/assets/v2/js/pages/dashboard.js
Due: eslint

Missed f-string designator in avatar util
  app/avatar/utils.py
Due: yapf

Fix activity template avatar ref
  app/retail/templates/shared/activity.html
Due: none

shared.js: Add {show,hide}BusyOverlay
  app/assets/v2/css/base.css
  app/assets/v2/js/shared.js
Due: eslint, stylelint

Fixes navbars with dash class, the narrow navbars
  app/assets/v2/css/gitcoin.css
Due: stylelint

fix: sticker issues
  app/assets/v2/js/pages/dashboard.js
Due: eslint

fix: deeplink search
  app/assets/v2/js/pages/dashboard.js
Due: eslint

Fix widget loop (#2068)
  js-sdk/src/index.js
Due: eslint

overlay: reduced opacity
  app/assets/v2/css/base.css
Due: stylelint

backups were wrong, still pointed to local settings
  scripts/backup.bash
Due: none

Up the js-sdk version to 1.0.6
  js-sdk/package.json
Due: none

dont show non funded tips
  app/dashboard/models.py
Due: yapf

Adjust some static references
  app/app/settings.py
  app/dashboard/notifications.py
  app/external_bounties/models.py
  app/marketing/utils.py
Due: yapf

backup
  scripts/backup.bash
Due: none

bounty count
  app/dashboard/models.py
Due: yapf

gas price prefills
  app/assets/v2/js/pages/wallet_estimate.js
  app/assets/v2/js/shared.js
  app/dashboard/templates/shared/wallet_estimate.html
Due: eslint

fulfilled bounty count
  app/dashboard/models.py
Due: yapf

distinct
  app/dashboard/models.py
Due: yapf

wrong param
  app/dashboard/models.py
Due: yapf

backup scr
  scripts/backup.bash
Due: none

Disable user feedback on 500 for now
  app/retail/templates/error.html
Due: none

eslint : lint fixes
  app/assets/v2/js/pages/wallet_estimate.js
Due: eslint

Adjust onepager auth av reference
  app/dashboard/templates/shared/onepager_auth.html
Due: none

self regression test
  app/assets/v2/js/pages/shared_bounty_mutation_estimate_gas.js
Due: eslint
