Repository gitcoinco/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, yapf

eslint:
  name: eslint
  language: system
  entry: sh -c 'npm run eslint:fix'

stylelint:
  name: stylelint
  language: system
  entry: sh -c 'npm run stylelint:fix'

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i
  - -r
  - -e
  - app/**/migrations/
  - -e
  - app/app/settings.py
  - -p
  - app/avatar/
  - app/credits/
  - app/dataviz/
  - app/enssubdomain/
  - app/ethos/
  - app/github/

Add middleware to disable autodetect lang by header
  app/app/middleware.py
  app/app/settings.py
Due: yapf

add og image
  app/assets/v2/images/kudos/assets/kudos-image.png
  app/kudos/views.py
Due: yapf

Add admin entries for new assets
  app/avatar/admin.py
  app/avatar/exceptions.py
  app/avatar/models.py
Due: yapf

fix for /results page showing bad data
  app/marketing/stats.py
  app/retail/utils.py
Due: yapf

migrates from current_bounty=True to .current() because the latter is more exhaustive
  app/dashboard/management/commands/activity_report.py
  app/dashboard/management/commands/create_activity_records.py
  app/dashboard/management/commands/sync_profiles.py
  app/dashboard/notifications.py
  app/dataviz/d3_views.py
  app/economy/management/commands/get_prices.py
  app/economy/management/commands/refresh_bounties.py
  app/external_bounties/management/commands/sync_gitcoin.py
  app/marketing/stats.py
  app/marketing/utils.py
  app/retail/emails.py
Due: yapf

Signed-off-by: qin407779593 <407779593@qq.com>
  erc20/0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9.json
  images/0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9.png
Due: none

Signed-off-by: qin407779593 <407779593@qq.com>
  erc20/0x6337ea6bd863ff7c3c2cdb39810a672d2aa4d126.json
Due: none

Signed-off-by: qin407779593 <407779593@qq.com>
  erc20/0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9.json
  erc20/0x6337ea6bd863ff7c3c2cdb39810a672d2aa4d126.json
Due: none

Adjust template tag and profile av refs
  app/avatar/models.py
  app/avatar/templatetags/avatar_tags.py
  app/dashboard/templates/profiles/profile.html
Due: yapf

Signed-off-by: qin407779593 <407779593@qq.com>
  erc20/0x3a7a5ba347928dfc8a748b5e55558d5fee84a2a9.json
  erc20/0x6337ea6bd863ff7c3c2cdb39810a672d2aa4d126.json
  erc20/desktop.ini
Due: none

Update soha token
  erc20/0xb0f3b4da2085f0bcdc4a37209ca2dd7cef431025.json
  images/0xb0f3b4da2085f0bcdc4a37209ca2dd7cef431025.png
Due: none

Refactor issue expiration email
  app/assets/v2/images/expiring_clock.png
  app/dashboard/views.py
  app/retail/templates/emails/new_bounty_expire_warning.html
Due: yapf

Upgrade Django to 2.1.1
  requirements/base.txt
Due: none

migrates from current_bounty=True to .current() because the latter is more exhaustive (#2161)
  app/dashboard/management/commands/activity_report.py
  app/dashboard/management/commands/create_activity_records.py
  app/dashboard/management/commands/sync_profiles.py
  app/dashboard/notifications.py
  app/dataviz/d3_views.py
  app/economy/management/commands/get_prices.py
  app/economy/management/commands/refresh_bounties.py
  app/external_bounties/management/commands/sync_gitcoin.py
  app/marketing/stats.py
  app/marketing/utils.py
  app/retail/emails.py
Due: yapf

Add profile to LeaderboardRank
  app/dashboard/models.py
  app/marketing/management/commands/assemble_leaderboards.py
  app/marketing/migrations/0032_leaderboardrank_profile.py
  app/marketing/migrations/0033_auto_20180905_1548.py
  app/marketing/models.py
  app/marketing/views.py
  app/retail/emails.py
  app/retail/templates/emails/bounty_roundup.html
Due: yapf

initial commit
  app/dashboard/migrations/0107_auto_20180905_1649.py
  app/dashboard/models.py
  app/dashboard/templates/bounty/new.html
  app/dashboard/templates/shared/issue_details.html
Due: yapf

Adjust leaderboardrank query for line length
  app/retail/emails.py
Due: yapf

Adjust avatar_url on LeaderboardRank
  app/marketing/models.py
Due: yapf

Adjust assemble_leaderboards to handle multiple profiles
  app/marketing/management/commands/assemble_leaderboards.py
Due: yapf

Adjust profile handling in assemble_leaderboards for nonexistent/dupe profiles
  app/marketing/management/commands/assemble_leaderboards.py
Due: yapf

Fix isort and pin caching module versions
  app/dashboard/views.py
  requirements/base.txt
Due: yapf

Redis based caching (#1969)
  .circleci/config.yml
  .travis.yml
  app/app/local.env
  app/app/settings.py
  app/app/travis.env
  app/app/utils.py
  app/dashboard/gas_views.py
  app/dashboard/helpers.py
  app/dashboard/management/commands/sync_geth.py
  app/dashboard/notifications.py
  app/dashboard/utils.py
  app/dashboard/views.py
  app/marketing/management/commands/sync_mail.py
  app/retail/utils.py
  app/retail/views.py
  docker-compose.yml
  requirements/base.txt
Due: yapf

Adjust gas caching and resolve dupe key and syntax errors in gas views
  app/app/settings.py
  app/dashboard/gas_views.py
Due: yapf

Gas view adjustments and optimizations
  app/dashboard/gas_views.py
  app/gas/utils.py
Due: yapf

Cache setting adjustments for redis
  .circleci/config.yml
  app/app/local.env
  app/app/settings.py
  app/app/travis.env
Due: yapf

Use cache for sitemap queries
  app/app/sitemaps.py
Due: yapf

Adjust caching for results page
  app/retail/utils.py
Due: yapf

in my first official act as a Kudos developer, updating the card info for kudos
  app/assets/v2/images/kudos-flower.gif
  app/kudos/views.py
Due: yapf

- Added the reserved for username and avatar to the issue details page
  app/assets/v2/css/bounty.css
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/router.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/views.py
Due: eslint, stylelint, yapf

renames kudos.models.email to KudosTransfer, for my sanity
  app/assets/v2/js/pages/kudos_send.js
  app/dashboard/notifications.py
  app/kudos/admin.py
  app/kudos/migrations/0001_initial.py
  app/kudos/migrations/0002_remove_email_expires_date.py
  app/kudos/migrations/0003_remove_email_comments_priv.py
  app/kudos/migrations/0004_auto_20180831_2038.py
  app/kudos/models.py
  app/kudos/views.py
  app/retail/emails.py
Due: eslint, yapf

Fixes admin priviledge to stop work in activity
  app/dashboard/templates/bounty/details.html
Due: none

Removes the cancel image
  app/assets/v2/images/cancel.png
Due: none

add kudos emails to admin
  app/app/urls.py
  app/assets/v2/js/user-search.js
  app/retail/emails.py
Due: eslint, yapf

switched to using a json field instead of 3 seperate DB fields to cater for the reserved for bounty
  app/assets/v2/css/bounty.css
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/helpers.py
  app/dashboard/migrations/0107_auto_20180905_1649.py
  app/dashboard/migrations/0107_bounty_bounty_reserved_for.py
  app/dashboard/models.py
  app/dashboard/router.py
Due: eslint, stylelint, yapf

Adjust avatar handling for missing avatar assets
  app/avatar/models.py
Due: yapf

bot : remove dibs text from message (#2138)
  app/dashboard/notifications.py
Due: yapf

add claim kudos
  app/app/context.py
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/views.py
  app/kudos/models.py
Due: yapf

-Only reserved users will be allowed to start work on an issue in the first 24 hours, after that it will be open to everyone else
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/new_bounty.js
  app/dashboard/helpers.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/views.py
Due: eslint, yapf

fix url
  app/dashboard/templates/shared/nav_auth.html
  app/kudos/models.py
Due: yapf

Path conditions:
  eslint: any of: .js$
  stylelint: any of: .css$
  yapf: any of: \.py$
